{% block stylesheets %}
	{{ encore_entry_link_tags('modal') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('modal') }}
{% endblock %}
<div id="{{ modal_id }}" class="modal-container {{ show == "true" ? "flex modal-active" : "hidden opacity-0" }}">
    <div class="modal-overlay"></div>

    <div class="modal-content">

        <div class="modal-header">
            <p class="title">{{ title|raw }}</p>
            <i class="modal-close fas fa-times"></i>
        </div>

        {% if form_action is defined and form_action|length > 0 %}
            <form method="POST" action="{{ path(form_action) }}" class="flex flex-col">
                <input type="hidden" value="{{ form_identifier|default() }}" name="id"/>
        {% endif %}
        
        {% if options is defined and options|length > 0 %}
            <label for="select">{{ select_title }}</label>
            <select id="select" name="modal-select">
                <option value="">-</option>
                {% for item in options %}
                    <option value={{ item[option_value] }}> {{ item[option_lbl] }}</option>
                {% endfor %}
            </select>
        {% endif %}
        
        {{ content|raw }}

        <div class="modal-footer">
            {{ action|raw }}
            <button class="modal-close close-btn" {% if form_action is defined and form_action|length > 0 %}onclick="initLoading()"{% endif %}>{{ action_princ_lbl }}</button>
        </div>

        {% if form_action is defined and form_action|length > 0 %}
            </form>
        {% endif %}
    </div>
</div>
<script type="text/javascript">
    var modal_id = "{{ modal_id }}";
    var btn_trigger = "{{ btn_trigger is defined ? btn_trigger : '' }}";
    initModal(modal_id,btn_trigger);
</script>