{% extends "base.html.twig" %}

{% block title %}Gestion des categories
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('admin') }}
	{{ encore_entry_link_tags('formulaire') }}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('admin') }}
	{{ encore_entry_script_tags('formulaire') }}
    <script type="text/javascript">
        $(document).ready(() => {$('[name="paymentDate"]')[0].valueAsDate = new Date();})
    </script>
{% endblock %}

{% block body %}

	<div class="container-search content">
		<h1>Ajout d'un paiement</h1>
		<hr class="line"/>
        <p class="mt-7 text-2xl text-bondi-500">Le paiement sera lié à la commande N° {{ order.id }}</p>
		<form class="form" method="POST" action="{{ path("order_add_payment_enreg") }}">
            <input name="fkidC" type="hidden" value="{{ order.id }}" />

			<div class="field">
				<label>Date de paiement</label>
				<input class="field-input" name="paymentDate" type="date" />
			</div>

			<div class="field">
				<label>Montant remboursé</label>
				<input class="field-input" name="amount" type="float"/> €
			</div>

			<div class="field">
				<label>Info paiement</label>
                <select name="info" class="field-input">
                    <option value="CB">CB</option>
                    <option value="Chèque">Chèque</option>
                    <option value="Espèce">Espèce</option>
                </select>
			</div>

            <div class="mt-5 flex flex-col">
                <button class="btn-action-list w-32" type="submit" onclick="return confirm('Ajouter ce paiement ? Vous ne pourrez plus le modifier.')">Ajouter</button>
                <button class="btn-action-list w-32" onClick="window.history.back()">Retour</button>
            </div>
        </form>
    </div>
{% endblock %}