{% extends "base.html.twig" %}

{% block title %}Gestion des categories
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('admin') }}
	{{ encore_entry_link_tags('formulaire') }}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('admin') }}
	{{ encore_entry_script_tags('formulaire') }}
{% endblock %}

{% block body %}
	<div class="container-search content">
		<h1>Gestion des commandes clients</h1>
		<hr class="line"/>

		<form class="search mt-5" method="POST" action="{{ path("order_search") }}">
			<div class="field">
				<label>ID commande</label>
				<input class="field-input" name="id" type="number"/>
			</div>

			<div class="field">
				<label>Nom client</label>
				<input class="field-input" name="name" type="text"/>
			</div>

			<div class="field">
				<label>Date de fin de réservation après le</label>
				<input class="field-input" name="date_reservation_end" type="date"/>
			</div>
		
			<button class="btn-action" type="submit">Rechercher</button>
		</form>
		<button class="btn-action btn-new" onClick="window.location.replace('{{ path('home') }}')">Retour accueil</button>
		{% if orders|length > 0 %}
			<div class="search-content">
				<table class="list">
					<tr>
						<th class="hidden xl:table-cell">Id Commande</th>
						<th>Nom Client</th>
						<th>Date réservation</th>
						<th class="hidden xl:table-cell">Montant total dû</th>
						<th>Produits</th>
						<th>Paiements</th>
						<th class="hidden xl:table-cell">Payé</th>
					</tr>
					{% for order in orders %}
						<tr>
							<td class="hidden xl:table-cell">{{ order.id }}</td>
							<td>{{ order.fkid_u.lastname }} {{ order.fkid_u.firstname }}</td>
							<td>
								<button id="modal-date-reservation-{{ order.id }}" class="underline text-bondi-500 text-bold">
									{{ order.date_reservation_start|date('d/m/Y') }}
								</button>
								
								{% include "includes/modal.html.twig" with {
									"show": false,
									"modal_id": "reservation-modif-" ~ order.id,
									"title": "Information réservation commande N°" ~ order.id ~ " <i class='fas fa-calendar-alt text-blue-400'></i>",
									"content": "
										<p>La commande a été reservée le " ~ order.date_reservation_start|date('d/m/Y') ~ " à " ~ order.date_reservation_start|date('H:i') ~ "</p>
										<p>La réservation prendra fin le 
											<input class='field-input max-w-min' type='date' 
												name='dateReservationEnd' 
												value='"~ order.date_reservation_end|date('Y-m-d') ~"' 
												max='"~ order.date_reservation_start|date_modify("+7 day")|date('Y-m-d') ~"'
												min='"~ order.date_reservation_start|date_modify("+2 day")|date('Y-m-d') ~"'
											/> à " ~ order.date_reservation_end|date('H:i') ~ "</p>
										<p class='text-base text-green-600 mt-5'>
											<i class='fas fa-info-circle'></i>
											Vous pouvez augmenter la date de réservation jusqu'à 7 jours maximum.
										</p>
									",
									"btn_trigger": "modal-date-reservation-" ~ order.id,
									"action_princ_lbl": "Valider",
									"form_action": "order_modif_reservation",
									"form_identifier": order.id,
									"action": "<button class='modal-close' type='button'>Retour</button>"} 
								%}
							</td>
							<td class="hidden xl:table-cell">{{ order.totalPrice }} €</td>
							<td>
								<button id="modal-product-{{ order.id }}">
									<i class="fas fa-clipboard-list text-3xl text-pacifique-400"></i>
								</button>
								{% if order.orderDetails|length > 0 %}
									{% set infoProducts = "
										<table class='modal-list'>
											<tr>
												<th>Nom produit</th>
												<th>Quantité</th>
												<th>Prix unitaire</th>
											</tr>"
									%}
									{% for orderDtl in order.orderDetails %}
										{% set product = orderDtl.fkid_p %}
										{% set infoProducts = infoProducts ~ 
											"<tr>
												<td>" ~ product.name ~ " " ~ product.description ~ "</td>
												<td>" ~ orderDtl.quantity ~ "</td>
												<td>" ~ product.price ~ " €</td>
											</tr>" %}
									{% endfor %}
									{% set infoProducts = infoProducts ~ "</table>"%}

									{% include "includes/modal.html.twig" with {
										"show": false,
										"modal_id": "products-list-" ~ order.id,
										"title": "Détail commande N°" ~ order.id ~ " <i class='fas fa-clipboard-list text-blue-400'></i>",
										"content": infoProducts,
										"btn_trigger": "modal-product-" ~ order.id,
										"action_princ_lbl": "Fermer",
										"action": ""} 
									%}
								{% endif %}
							</td>
							<td>
								<button id="modal-payment-{{ order.id }}">
									<i class="fas fa-credit-card text-3xl text-green-400"></i>
								</button>
								{% set totalPaid = 0 %}
								{% if order.payments|length > 0 %}
									{% set infoPayments = "
										<table class='payments_list'>
											<tr>
												<th>Type paiement</th>
												<th>Date paiement</th>
												<th>Montant</th>
											</tr>"
									%}

									{% for payment in order.payments %}
										{% set totalPaid = totalPaid + payment.amount %}
										{% set infoPayments = infoPayments ~ 
											"<tr>
												<td>" ~ payment.info ~ "</td>
												<td>" ~ payment.payment_date|date("d/m/Y") ~ "</td>
												<td>" ~ payment.amount ~ " €</td>
											</tr>" %}
									{% endfor %}
									{% set infoPayments = infoPayments ~ "</table>
										<p class='mt-5'>Avec <span class='text-bondi-500'>" ~ totalPaid|trans ~ " €</span> payé, il reste encore <span class='text-green-500'>" ~ (order.totalPrice - totalPaid)|trans ~ " €</span> à payer.</p>" 
									%}
								{% else %}
									{% set infoPayments = "<p class='mt-5 text-center text-bold text-xl'>Aucun paiement encore enregistré pour cette commande.</p>" %}
								{% endif %}
										
								{% include "includes/modal.html.twig" with {
									"show": false,
									"modal_id": "payments-list-" ~ order.id,
									"title": "Paiements de la commande N°" ~ order.id ~ " <i class='fas fa-credit-card text-blue-400'></i>",
									"content": infoPayments ~ "<button class='btn-action' onclick='window.location.replace(\"" ~ path('order_add_payment') ~ "?o=" ~ order.id ~ "\")'>Ajouter un paiement</button>",
									"btn_trigger": "modal-payment-" ~ order.id,
									"action_princ_lbl": "Fermer",
									"action": ""} 
								%}
							</td>
							<td class="hidden xl:table-cell">
								{% if totalPaid == order.totalPrice %}
									<span class="text-green-500 font-bold">Oui</span>
								{% else %}
									<span class="text-red-500 font-bold">Non</span>
								{% endif %}
							</td>
						</tr>
					{% endfor %}
				</table>
			</div>
		{% elseif error|length > 0 %}
			<div class="error-msg">{{ error }}</div>
		{% endif %}
	</div>

	{% include "includes/modal.html.twig" with {
        "show": enregOK,
        "modal_id": "data_enregOK",
        "title": "Enregistrement réussie <i class=\"fas fa-check text-green-600\"></i>",
        "content": "Votre modification a été enregistrée avec succès.",
        "action_princ_lbl": "Fermer",
        "action": ""} 
    %}
	{% include "includes/modal.html.twig" with {
        "show": enregKO,
        "modal_id": "data_enregKO",
        "title": "Enregistrement echoué <i class=\"fas fa-times text-red-600\"></i>",
        "content": "<p>Votre modification a échoué.</p>
			<p class='text-red-600 mt-5'>Erreur : " ~ error ~ "</p>",
        "action_princ_lbl": "Fermer",
        "action": ""} 
    %}
{% endblock %}