{% extends "base.html.twig" %}

{% block title %}Paramètre du compte
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('espace-client') }}
	{{ encore_entry_link_tags('formulaire') }}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('espace-client') }}
	{{ encore_entry_script_tags('formulaire') }}
{% endblock %}

{% block body %}
	<div class="content">
		<div class="espace-content security-content">
            <h1 class="title">Paramètre du compte</h1>

            <div class="list-modif">

                <div class="line-modif">
                    <div class="infos">
                        <label>Adresse</label>
                        <span>{{ user.address }}</span>
                    </div>
                    <button id="modif-address-open" class="btn-action">Modifier</button>
                </div>
                
                <div class="line-modif">
                    <div class="infos">
                        <label>Point de retrait préféré</label>
                        <span>{{ user.withdrawalPoint }}</span>
                    </div>
                    <button id="modif-withdrawalPoint-open" class="btn-action">Modifier</button>
                </div>
            </div>
			
		    <button class="btn-action w-28" onclick="window.location.replace('{{ path('accueil_client') }}')">Retour</button>
        </div>
	</div>

{% include "includes/modal.html.twig" with {
    "show": show_modal_enreg,
    "modal_id": "settings_enreg",
    "title": "Enregistrement réussie <i class=\"fas fa-check text-green-600\"></i>",
    "content": "Vos informations ont bien été modifiées.",
    "action_princ_lbl": "Fermer",
    "action": ""}
%}

{# address #}
{% include "includes/modal.html.twig" with {
    "show": false,
    "modal_id": "btn-modif-address",
    "title": "Modifier votre adresse <i class='fas fa-user-edit text-pacifique-400'></i></i>",
    "content": '
        <div class="fields">
            <div class="field">
                <label class="font-bold">Adresse : </label>
                <input class="field-input" name="address" type="text" value="' ~ user.address ~ '" />
            </div>
        </div>
    ',
    "action_princ_lbl": "Valider",
    "btn_trigger": "modif-address-open",
    "form_action": "account_enreg",
    "form_identifier": "modif-address",
    "action": "<button class='modal-close' type='button'>Retour</button>"}
%}

{# withdrawalPoint #}
{% include "includes/modal.html.twig" with {
    "show": false,
    "modal_id": "btn-modif-withdrawalPoint",
    "title": "Modifier votre point de retrait <i class='fas fa-address-card text-pacifique-400'></i></i>",
    "content": "",
    "select_title" : "Choisissez une ville",
    "options": select_cities,
    "option_value": "id", 
    "option_lbl": "name",
    "action_princ_lbl": "Valider",
    "btn_trigger": "modif-withdrawalPoint-open",
    "form_action": "account_enreg",
    "form_identifier": "modif-withdrawalPoint",
    "action": "<button class='modal-close' type='button'>Retour</button>"}
%}

{% endblock %}
