{% extends "base.html.twig" %}

{% block title %}Espace
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('espace-client') }}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('espace-client') }}
{% endblock %}

{% block body %}
	<div class="content">
		<div class="espace-content">
			<div class="mon-espace">
				<h1 class="hello">Bonjour
					{{ name }}.</h1>
				<img class="imgespace" src="{{ asset('img/accueil_connexion.png')}}" width="350px" height="auto"/>
				<div class="line-bouton">
					<button class="action" onclick="initLoading();window.location.href = '{{ path("commandesList") }}'">
						<i class="fas fa-clipboard-list"></i>
						<div class="mx-1">
							<span>Mes commandes</span>
						</div>
					</button>

					<button class="action" onclick="initLoading();window.location.href = '{{ path("connectionSecurity") }}'">
						<i class="fas fa-shield-alt"></i>
						<div class="mt-1">
							<span>Connexion et sécurité</span>
						</div>
					</button>

					<button class="action" onclick="initLoading();window.location.href = '{{ path("accountSettings") }}'">
						<i class="fas fa-cog"></i>
						<div class="mx-1">
							<span>Paramètre du compte</span>
						</div>
					</button>
				</div>

				<div class="line-bouton ">
					<button class="action -mx-2" onclick="initLoading();window.location.href = '{{ path("intervention_list") }}'">
						<i class="fas fa-envelope"></i>
						<div class="mx-1">
							<span class="message">Messagerie</span>
						</div>
					</button>

					<button class="action">
						<i class="fas fa-user-friends" onclick="initLoading();window.location.href = '{{ path("contactUs") }}'"></i>
						<div class="mx-1">
							<span>Nous contacter</span>
						</div>
					</button>

					<button class="action" onclick="return false;">
						<i class="fas fa-question-circle"></i>
						<div class="mx-1">
							<span>Aide</span>
						</div>
					</button>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
