{% extends "base.html.twig" %}

{% block title %}Mes commandes
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('espace-client') }}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('espace-client') }}
{% endblock %}

{% block body %}
	<div class="list-command">
		<div class="command-content">
			<h1 class="title"> <i class="fas fa-clipboard-list text-pacifique-300"></i> Vos commandes</h1>
			{% if orders|length > 0 %}
				{% for order in orders %}
					<div class="line-cde">
						{% set totalPaid = 0 %}
						<div class="header-cde">
							<div class="flex flex-col">
								<p>Commande effectuée le</p>
								<p>{{ order.date_reservation_start|date("d/m/Y") }}</p>
							</div>
							<div class="flex flex-col">
								{% if order.status == "En préparation" %}
									<p>Disponibilité éstimé le</p>
									<p>{{ order.date_reservation_end|date("d/m/Y") }}</p>
								{% elseif order.status == "Disponible" %}
									<p>Disponible depuis le</p>
									<p>{{ order.date_reservation_end|date("d/m/Y") }}</p>
								{% elseif order.status == "Terminé" %}
									<p>Terminé (payé et récupéré)</p>
								{% endif %}
								
								</div>
							<div class="flex flex-col">
								<p>Prix</p>
								<p>{{ order.totalPrice }} €</p>
							</div>
							<div class="flex flex-col">
								<p>N°{{ order.id }}</p>
								<p>
									{% if order.payments|length > 0 %}
										
										{% set infoPayments = "
											<table class='payments_list'>
												<tr>
													<th>Type paiement</th>
													<th>Date paiement</th>
													<th>Montant</th>
												</tr>"
										%}

										{% for payment in order.payments %}
											{% set totalPaid = totalPaid + payment.amount %}
											{% set infoPayments = infoPayments ~ 
												"<tr>
													<td>" ~ payment.info ~ "</td>
													<td>" ~ payment.payment_date|date("d/m/Y") ~ "</td>
													<td>" ~ payment.amount ~ " €</td>
												</tr>" %}
										{% endfor %}
										{% set infoPayments = infoPayments ~ "</table>" %}

										<button class="btn-payments-list" id="modal-payments-{{ order.id }}">
											{% if totalPaid < order.totalPrice %}
												PAYÉE PARTIELLEMENT
												{% set infoPayments = infoPayments ~ "<p class='mt-2'>Il reste <span class='text-pacifique-500'>" ~ (order.totalPrice - totalPaid) ~ "</span> à payer.</p>" %}
											{% else %}
												PAYÉE
											{% endif %}
										</button>
										{% include "includes/modal.html.twig" with {
											"show": false,
											"modal_id": "payments-list-" ~ order.id,
											"title": "Paiements <i class='fas fa-receipt text-blue-400'></i>",
											"content": infoPayments,
											"select_title" : "Magasin",
											"btn_trigger": "modal-payments-" ~ order.id,
											"action_princ_lbl": "Fermer",
											"action": ""} 
										%}
									{% else %}
										NON PAYÉE
									{% endif %}
								</p>
							</div>
						</div>
						{% if order.orderDetails|length > 0 %}
							{% for orderDtl in order.orderDetails %}
								{% set product = orderDtl.fkid_p %}
								<hr class="line"/>
								<div class="details-prod">
									<img src="data:image/png;base64,{{ product.pictures[0] }}" width="200" height="200"/>
									<div class="elem-prod">
										<p>{{ product.name }} {{ product.description }}</p>
										<p>Prix unitaire : {{ product.price }} €</p>
										<p>Quantité : {{ orderDtl.quantity }}</p>
										<div class="mt-10">
											{% if totalPaid == order.totalPrice %}
												{% set writeOpinion = true %}
												{% for opinion in product.opinions %}
													{% if opinion.fkid_u == userId %}
														{% set writeOpinion = false %}
													{% endif %}
												{% endfor %}

												{% if writeOpinion %}
													{% set btnTrigger = "modal-open-opinion-p"~ random() %}
													<button id="{{ btnTrigger }}" class="text-pacifique-400 underline">
														<i class="fas fa-pen-alt"></i>
														Laissez un avis !
													</button>
													{% include "includes/modal.html.twig" with {
														"show": false,
														"modal_id": "write_opinion"~ random(),
														"title": "Déposez votre avis <i class='fas fa-paper-plane text-blue-400'></i>",
														"content": "
															<input type='hidden' name='fkidP' value='"~ product.id ~ "' />
															<p class='text-xl mb-5'>Avis produit « "~ product.name ~" »</p>
															<div>
																<label>Nombre d'étoiles : </label>
																<select name='score' class='w-16'>
																	<option value='1'>1</option>
																	<option value='2'>2</option>
																	<option value='3'>3</option>
																	<option value='4'>4</option>
																	<option value='5' selected>5</option>
																</select>
															</div>
															<textarea required line='5' class='border rounded-md resize-none mt-4' name='comment' pattern='[A-Za-z0-9]+' placeholder='Commentaire'></textarea>
														",
														"btn_trigger": btnTrigger,
														"action_princ_lbl": "Valider",
														"form_action": "write_opinion_enreg",
														"action": "<button class='modal-close' type='button'>Retour</button>"} 
													%}
												{% else %}
													{# on a déjà mis un avis #}
												{% endif %}
											{% endif %}
										</div>
									</div>
								</div>
							{% endfor %}
						{% else %}
							Erreur dans la commande : contactez le service informatique.
						{% endif %}
					</div>
				{% endfor %}
			{% else %}
				<div class="line-cde">
					<p class="text-xl">Vous n'avez aucune commande.</p>
				</div>
			{% endif %}
			
			<button class="btn-retour" type="submit" onclick="location.href = '{{ path("accueil_client") }}'">Retour accueil</button>
		</div>
	</div>
	{% include "includes/modal.html.twig" with {
        "show": enreg_opinionOK,
        "modal_id": "data_enregOK",
		"btn_trigger": "modal-open",
        "title": "Avis enregistré <i class=\"fas fa-check text-green-600\"></i>",
        "content": "Votre avis à bien été pris en compte.",
        "action_princ_lbl": "Fermer",
        "action": ""} 
    %}
{% endblock %}
