{% extends "base.html.twig" %}

{% block title %}Connexion et sécurité
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('espace-client') }}
	{{ encore_entry_link_tags('formulaire') }}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('espace-client') }}
	{{ encore_entry_script_tags('formulaire') }}
{% endblock %}

{% block body %}
	<div class="content">
		<div class="espace-content security-content">
            <h1 class="title">Connexion et sécurité</h1>

            <div class="list-modif">

                <div class="line-modif">
                    <div class="infos">
                        <label>Infos personnelles</label>
                        <span>{{ user.lastname }} {{ user.firstname }}</span>
                    </div>
                    <button id="modif-name-open" class="btn-action">Modifier</button>
                </div>
                
                <div class="line-modif">
                    <div class="infos">
                        <label>Email</label>
                        <span>{{ user.email }}</span>
                    </div>
                    <button id="modif-email-open" class="btn-action">Modifier</button>
                </div>
                
                <div class="line-modif">
                    <div class="infos">
                        <label>Mot de passe</label>
                        <span>*******************</span>
                    </div>
                    <button id="modif-password-open" class="btn-action">Modifier</button>
                </div>

                <div class="line-modif">
                    <div class="infos">
                        <label>Numéro de téléphone</label>
                        <span>{{ user.phone }}</span>
                    </div>
                    <button id="modif-phone-open" class="btn-action">Modifier</button>
                </div>
            </div>
            
		    <button class="btn-action w-28" onclick="window.location.replace('{{ path('accueil_client') }}')">Retour</button>
        </div>
	</div>

{% include "includes/modal.html.twig" with {
    "show": show_modal_enreg,
    "modal_id": "security_enreg",
    "title": "Enregistrement réussie <i class=\"fas fa-check text-green-600\"></i>",
    "content": "Vos informations ont bien été modifiées.",
    "action_princ_lbl": "Fermer",
    "action": ""} 
%}

{# Lastname / firstname 
<div class="field">
    <label class="font-bold">Mot de passe : </label>
    <input class="field-input" name="validationPassword" type="password" />
</div>
#}
{% include "includes/modal.html.twig" with {
    "show": false,
    "modal_id": "btn-modif-name",
    "title": "Modifier votre nom / prénom <i class='fas fa-user-edit text-pacifique-400'></i></i>",
    "content": '
        <div class="fields">
            <div class="field">
                <label class="font-bold">Nom : </label>
                <input class="field-input" name="lastname" type="text" value="' ~ user.lastname ~ '" />
            </div>
            <div class="field">
                <label class="font-bold">Prénom : </label>
                <input class="field-input" name="firstname" type="text" value="' ~ user.firstname ~ '" />
            </div>
        </div>
    ',
    "action_princ_lbl": "Valider",
    "btn_trigger": "modif-name-open",
    "form_action": "security_enreg",
    "form_identifier": "modif-name",
    "action": "<button class='modal-close' type='button'>Retour</button>"} 
%}

{# Email #}
{% include "includes/modal.html.twig" with {
    "show": false,
    "modal_id": "btn-modif-email",
    "title": "Modifier votre email <i class='fas fa-user-edit text-pacifique-400'></i></i>",
    "content": '
        <div class="fields">
            <div class="field">
                <label class="font-bold">Email : </label>
                <input class="field-input" name="email" type="text" value="' ~ user.email ~ '" />
            </div>
        </div>
    ',
    "action_princ_lbl": "Valider",
    "btn_trigger": "modif-email-open",
    "form_action": "security_enreg",
    "form_identifier": "modif-email",
    "action": "<button class='modal-close' type='button'>Retour</button>"} 
%}

{# Password #}
{% include "includes/modal.html.twig" with {
    "show": false,
    "modal_id": "btn-modif-password",
    "title": "Modifier votre mot de passe <i class='fas fa-user-edit text-pacifique-400'></i></i>",
    "content": '
        <div class="fields">
            <div class="field">
                <label class="font-bold">Nouveau mot de passe : </label>
                <input class="field-input" name="password" type="password" />
            </div>
        </div>
    ',
    "action_princ_lbl": "Valider",
    "btn_trigger": "modif-password-open",
    "form_action": "security_enreg",
    "form_identifier": "modif-password",
    "action": "<button class='modal-close' type='button'>Retour</button>"} 
%}

{# Phone #}
{% include "includes/modal.html.twig" with {
    "show": false,
    "modal_id": "btn-modif-phone",
    "title": "Modifier votre téléphone <i class='fas fa-user-edit text-pacifique-400'></i></i>",
    "content": '
        <div class="fields">
            <div class="field">
                <label class="font-bold">Téléphone : </label>
                <input class="field-input" name="phone" type="text" value="' ~ user.phone ~ '" />
            </div>
        </div>
    ',
    "action_princ_lbl": "Valider",
    "btn_trigger": "modif-phone-open",
    "form_action": "security_enreg",
    "form_identifier": "modif-phone",
    "action": "<button class='modal-close' type='button'>Retour</button>"} 
%}

{% endblock %}
