{% extends "base.html.twig" %}

{% block title %}Nous contacter
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('espace-client') }}
	{{ encore_entry_link_tags('formulaire') }}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('espace-client') }}
	{{ encore_entry_script_tags('formulaire') }}
{% endblock %}

{% block body %}
	<div class="content">
		<div class="espace-content security-content">
            <h1 class="title">Moyen de nous contacter</h1>

            <div class="list-modif">

                <div class="line-modif">
                    <div class="infos">
                        <label>Adresse mail</label>
                        <span>contact@verre-tech.fr</span>
                    </div>
                    <button class="btn-action" onclick="initLoading();window.location.replace('{{ path('contact') }}')">Envoyer un mail</button>
                </div>
                
                <div class="line-modif">
                    <div class="infos my-4">
                        <label>Téléphone</label>
                        <span id="phone">03.26.00.00.00</span>
                    </div>
                </div>

                <div class="line-modif">
                    <div class="infos">
                        <label>Service client</label>
                        <span>Disponible entre 8h et 18h du lundi au vendredi</span>
                    </div>
                    <button id="intervention-open" class="btn-action">Nouvelle demande</button>
                </div>
            </div>
            
		    <button class="btn-action w-28" onclick="initLoading();window.location.replace('{{ path('accueil_client') }}')">Retour</button>
        </div>
	</div>

{% include "includes/modal.html.twig" with {
    "show": false,
    "modal_id": "btn-new-intervention",
    "title": "Nouvelle demande support <i class='fas fa-user-edit text-pacifique-400'></i></i>",
    "content": '
        <div class="fields">
            <div class="field w-full">
                <textarea class="field-input field-textarea" name="message" placeholder="Message de la demande"></textarea>
            </div>
        </div>
    ',
    "action_princ_lbl": "Valider",
    "select_title" : "Choisissez un type de demande",
    "options": intervention_types,
    "option_value": "id",
    "option_lbl": "name",
    "btn_trigger": "intervention-open",
    "form_action": "intervention_enreg",
    "form_identifier": "new-intervention",
    "action": "<button class='modal-close' type='button'>Retour</button>"} 
%}

{% endblock %}
