{% extends "base.html.twig" %}

{% block title %}Fiche catégorie
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('admin') }}
	{{ encore_entry_link_tags('formulaire') }}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('admin') }}
	{{ encore_entry_script_tags('formulaire') }}
{% endblock %}

{% block body %}
	<div class="container-search content">
		<h1>Fiche catégorie</h1>
		<hr class="line"/>
		<form method="POST" action="{{ path("category_enreg") }}{{ n > 0 ? "?n=1" : "" }}" class="infos">
			
			{% if error|length > 0 %}
				<p class="text-blue-500 my-5 mr-2">
					<i class="fas fa-info-circle"></i>
					{{ error }}
				</p>
			{% endif %}

			<div class="field">
				<label>Nom</label>
				<input name="name" type="text" value="{{ category != null ? category.name : ""}}"/>
			</div>

			<div class="field">
				<label>Propose produits</label>
				<input id="yes" name="offersProduct" value="1" type="radio" checked/>
				<label for="yes">Oui</label>
				<input id="no" name="offersProduct" value="0" type="radio" {% if category != null and category.offersProduct == 0 %} checked {% endif %}/>
				<label for="no">Non</label>
			</div>

			{% if category != null and category.offersProduct == 0 %}
				<button id="modal-open" class="btn-action w-72" type="button">Ajouter une catégorie enfant</button>
			{% endif %}

			{% if category != null %}
				<input name="id" class="hidden" value="{{ category.id }}"/>
			{% endif %}

			{% if category != null and category.categories|length > 0 %}
				<table class="data-list">
					<tr>
						<th>Mère de</th>
						<th>Nombre de produit</th>
						<th>Supprimer</th>
					</tr>
					{% for one_categ in category.categories %}
						<tr>
							<td>
								<a class="link" href="{{ path("category_details") }}?i={{ one_categ.id }}">
									{{ one_categ.name }}</a>
							</td>
							<td>{{ one_categ.products|length }}</td>
							<td>
								<a href="{{ path("category_enreg") }}?i={{ category.id }}&c={{ one_categ.id }}">
									<i class="fas fa-trash-alt text-red-700"></i>
								</a>
							</td>
						</tr>
					{% endfor %}
				</table>
			{% endif %}

			{% if category != null and category.offersProduct == 1 %}
				{% if category.products|length > 0  %}
					<table class="data-list">
						<tr>
							<th>Identifiant</th>
							<th>Nom</th>
							<th>Description</th>
							<th>Prix TTC</th>
						</tr>
						{% for product in category.products %}
							<tr>
								<td>{{ product.id }}</td>
								<td>{{ product.name }}</td>
								<td>{{ product.description }}</td>
								<td>{{ product.price }}</td>
							</tr>
						{% endfor %}
					</table>
				{% else %}
					<div class="error-msg">Aucun produit n'est lié à cette catégorie.</div>
				{% endif %}
			{% endif %}

			<button class="btn-action w-32" type="submit">Enregistrer</button>
		</form>
		<button class="btn-action w-28" onclick="window.location.replace('{{ path('category_list') }}')">Retour</button>
	</div>

	{% include "includes/modal.html.twig" with {
        "show": show_modal_enreg,
        "modal_id": "categ_enreg",
        "title": "Enregistrement réussie <i class=\"fas fa-check text-green-600\"></i>",
        "content": "Vous avez bien enregistré la catégorie.",
        "action_princ_lbl": "Fermer",
        "action": ""} 
    %}

	{% if category != null and category.offersProduct == 0 %}
		{% include "includes/modal.html.twig" with {
            "show": false,
            "modal_id": "categ_add_child",
            "title": "Associer une catégorie enfant <i class='fas fa-link text-pacifique-400'></i></i>",
            "content": "",
            "select_title" : "Choisissez une catégorie",
            "options": select_categories,
            "option_value": "id", 
            "option_lbl": "name",
            "action_princ_lbl": "Valider",
            "btn_trigger": "modal-open",
            "form_action": "category_enreg",
            "form_identifier": category.id,
            "action": "<button class='modal-close' type='button'>Retour</button>"} 
        %}
	{% endif %}
{% endblock %}
