{% extends "base.html.twig" %}

{% block title %}Gestion des categories
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('admin') }}
	{{ encore_entry_link_tags('formulaire') }}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('admin') }}
	{{ encore_entry_script_tags('formulaire') }}
{% endblock %}

{% block body %}
	<div class="container-search content">
		<h1>Gestion des catégories de produit</h1>
		<hr class="line"/>
		<button class="btn-action btn-new" onClick="window.location.replace('{{ path("category_details") }}?n=1')">Nouvelle catégorie</button>
		<form class="search" method="POST" action="{{ path("category_search") }}">
		
			<div class="field">
				<label>ID catégorie</label>
				<input class="field-input" name="id" type="number"/>
			</div>

			<div class="field">
				<label>Nom catégorie</label>
				<input class="field-input" name="name" type="text"/>
			</div>

			<button class="btn-action" type="submit">Rechercher</button>
		</form>
		<button class="btn-action btn-new" onClick="window.location.replace('{{ path('home') }}')">Retour accueil</button>

		{% if product_categories|length > 0 %}
			<div class="search-content">
				<table class="list">
					<tr>
						<th>IdCateg</th>
						<th>Nom</th>
						<th>Propose des produits</th>
						<th>Nb catégorie qui hérite</th>
						<th>Infos</th>
					</tr>
					{% for category in product_categories %}
						<tr>
							<td>{{ category.id }}</td>
							<td>{{ category.name }}</td>
							<td>
								{% if category.offersProduct %}
									<span class="true-span">Oui</span>
								{% else %}
									<span class="false-span">Non</span>
								{% endif %}
							</td>
							<td>
								{{ category.categories|length }}
							</td>
							<td>
								<a class="btn-info-list" href="{{ path("category_details") }}?i={{ category.id }}">
									<i class="fas fa-edit"></i>
								</a>
							</td>
						</tr>
					{% endfor %}
				</table>
			</div>
		{% elseif error|length > 0 %}
			<div class="error-msg">{{ error }}</div>
		{% endif %}
	</div>
{% endblock %}
