.infos {
  @apply flex flex-wrap flex-row justify-center text-xl mx-auto;
  .field {
    @apply mx-auto mt-4 flex;
    label {
      @apply mr-4;
    }
    input {
      @apply mr-2;
      &:focus {
        border-width: 2px;
        @apply border-pacifique-300;
      }
    }
    img {
      @apply rounded-md;
    }
    .list-pictures {
      @apply flex flex-row flex-wrap mx-auto;
      img {
        @apply border-2 border-green-200 mr-2 mt-2;
      }
      div[class^="picture-"] {
        @apply flex flex-row mx-auto;
      }
    }
    .select-group {
      option {
        @apply pl-2;
      }
      &:hover {
        @apply bg-gray-100 text-gray-500 border-gray-700;
      }
      &:focus {
        @apply bg-gray-200 text-gray-500 border-gray-900;
      }
    }
  }
  .upload-file {
    &:hover {
      @apply text-white bg-pacifique-500;
    }
    @apply transition align-middle px-2 -mt-3 ml-3 cursor-pointer text-2xl border-2 text-pacifique-500 border-pacifique-700 rounded-lg bg-white shadow-md;
  }
  #preview {
    @apply flex flex-row mt-5 overflow-x-auto;
    img {
      @apply border-2 border-pacifique-300 mx-auto mr-2 mt-2;
    }
  }

  .data-list {
    @apply mx-auto mt-4;
    th,
    td {
      @apply px-4;
    }
  }
}

@screen md {
  .infos {
    @apply flex-col;
  }
}
