.container-search {
  @apply bg-pacifique-100 p-5 mt-4 w-3/5 mx-auto rounded-lg shadow-md text-center;
  h1 {
    @apply text-5xl mx-auto;
  }
  @apply flex-col;
  .btn-new {
    @apply transition w-48 mx-auto mb-4;
    &:hover {
      @apply bg-gray-200;
    }
  }

  .form {
    @apply flex flex-wrap flex-col justify-center mx-auto p-8 pb-0 text-xl;
  }
  .search {
    @apply flex flex-wrap flex-col justify-center border-2 border-dashed mx-auto p-8 mb-10 text-xl border-gray-800;
    .btn-action {
      @apply w-full max-w-2xl;
      &:hover {
        @apply bg-gray-200;
      }
    }
  }
  .search,
  .form {
    label {
      @apply ml-10 mr-4;
    }
    .field {
      @apply mt-4;
    }
  }
  .serch-content {
    .pagination {
      .current {
        @apply underline;
      }
    }
  }
  .error-msg {
    @apply text-2xl mx-auto;
  }
}

input,
select {
  @apply rounded-md border-gray-300 shadow-sm;
}
.field-input {
  @apply transition border-2 w-52;
  &:focus {
    @apply border-pacifique-300;
  }
}
