{% block stylesheets %}
	{{ encore_entry_link_tags('menu') }}
{% endblock %}

<div id="dropdown-admin" class="dropdown">
	<a class="admin">Administration
		<i class="fas fa-caret-down"></i>
	</a>
	<ul class="dropdown-menu">
		<li class="sous-menu-items">
			<a href="#">Gestion Catalogue</a>
			<ul class="sous-cat">
				<li class="li-cat-menu"><a href="{{ path('category_list') }}" onclick="initLoading()">Catégorie produit</a></li>
				<li class="li-cat-menu"><a href="{{ path('product_list') }}" onclick="initLoading()">Gestion produits</a></li>
			</ul>
		</li>
		<li class="sous-menu-items">
			<a href="#">Acteurs locaux</a>
		</li>
		<li class="sous-menu-items">
			<a href="#">Clients</a>
		</li>
		<li class="sous-menu-items">
			<a href="{{ path('order_list') }}" onclick="initLoading()">Commandes</a>
		</li>
	</ul>
</div>
