{% block stylesheets %}
	{{ encore_entry_link_tags('menu') }}
{% endblock %}

<div class="menu menu-items">
	<a class="catalogue">Catalogue
		<i class="fas fa-caret-down"></i>
	</a>
	<ul class="menu-dropdown">
		{% for category in cache.getItem('categories').get() %}
			{% if category.categories | length > 0 %}
				<li class="items-sous-menu">
					<a>{{ category.name }}</a>
					<ul class="sous-cat">
					{% for sub_categ in category.categories %}
						<li class="li-menu">
							<a href="{{ path('catalogue', {idSousCat: sub_categ.id}) }}" onclick="initLoading()">{{ sub_categ.name }}</a>
						</li>
					{% endfor %}
					</ul>
				</li>
			{% endif %}
		{% endfor %}
	</ul>
</div>