{% block stylesheets %}
	{{ encore_entry_link_tags('menu') }}
{% endblock %}

<div class="menuBurger">
	<a id="cata-burger" class="burger-items">Catalogue
        <i class="fas fa-caret-down"></i>
    </a>
    <ul id="dropdown-cata" class="dropdown">
		<li id="porte-fenetre" class="dropdown-burger-items">
			<a>Porte fenêtre
				<i class="fas fa-caret-down"></i>
            </a>
		</li>
			<ul id="porte-fenetre-menu" class="sous-menu">
				<li><a class="sous-menu-items-burger" href="{{ path('catalogue', {idSousCat: 1}) }}">PVC</a></li>
				<li><a class="sous-menu-items-burger" href="{{ path('catalogue', {idSousCat: 2}) }}">PVC-Alu</a></li>
				<li><a class="sous-menu-items-burger" href="{{ path('catalogue', {idSousCat: 3}) }}">Bois</a></li>
				<li><a class="sous-menu-items-burger" href="{{ path('catalogue', {idSousCat: 4}) }}">Bois-Alu</a></li>
			</ul>
		<li id="fenetre" class="dropdown-burger-items">
			<a>Fenêtre
				<i class="fas fa-caret-down"></i>
            </a>
		</li>
			<ul id="fenetre-menu" class="sous-menu">
				<li><a class="sous-menu-items-burger" href="{{ path('catalogue', {idSousCat: 5}) }}">PVC</a></li>
				<li><a class="sous-menu-items-burger" href="{{ path('catalogue', {idSousCat: 6}) }}">PVC-Alu</a></li>
				<li><a class="sous-menu-items-burger" href="{{ path('catalogue', {idSousCat: 7}) }}">Bois</a></li>
				<li><a class="sous-menu-items-burger" href="{{ path('catalogue', {idSousCat: 8}) }}">Bois-Alu</a></li>
			</ul>
		<li id="baie-vitre" class="dropdown-burger-items">
			<a>Baies vitrée
				<i class="fas fa-caret-down"></i>
            </a>
		</li>
			<ul id="baie-vitre-menu" class="sous-menu">
				<li><a class="sous-menu-items-burger" href="{{ path('catalogue', {idSousCat: 9}) }}">PVC</a></li>
				<li><a class="sous-menu-items-burger" href="{{ path('catalogue', {idSousCat: 10}) }}">PVC-Alu</a></li>
				<li><a class="sous-menu-items-burger" href="{{ path('catalogue', {idSousCat: 11}) }}">Bois</a></li>
				<li><a class="sous-menu-items-burger" href="{{ path('catalogue', {idSousCat: 12}) }}">Bois-Alu</a></li>
			</ul>
		<li id="porte-entre" class="dropdown-burger-items">
			<a>Porte d'entrée
				<i class="fas fa-caret-down"></i>
            </a>
		</li>
			<ul id="porte-entre-menu" class="sous-menu">
				<li><a class="sous-menu-items-burger" href="{{ path('catalogue', {idSousCat: 13}) }}">PVC</a></li>
				<li><a class="sous-menu-items-burger" href="{{ path('catalogue', {idSousCat: 14}) }}">Bois</a></li>
				<li><a class="sous-menu-items-burger" href="{{ path('catalogue', {idSousCat: 15}) }}">Bois-Alu</a></li>
			</ul>
	</ul>
	<a href="#responsive-header" class="burger-items">Acteurs locaux</a>
	<a href="#responsive-header" class="burger-items">Partenaires</a>
	<a href="{{ path('contact') }}" class="burger-items" onclick="initLoading()">Contact</a>
	{% if is_granted('ROLE_ADMIN') %}
		<a id="admin-burger" class="burger-items">Administration
			<i class="fas fa-caret-down"></i>
		</a>
		<ul id="dropdown-admin-menu" class="dropdown">
			<li id="cat-burger" class="dropdown-burger-items">
				<a>Gestion Catalogue
					<i class="fas fa-caret-down"></i>
				</a>
			</li>
				<ul id="menu-gestion" class="sous-menu">
					<li>
						<a class="sous-menu-items-burger" href="{{ path('category_list') }}" onclick="initLoading()">Catégorie produit</a>
					</li>
					<li>
						<a class="sous-menu-items-burger" href="{{ path('product_list') }}" onclick="initLoading()">Gestion produits</a>
					</li>
				</ul>
			<li class="dropdown-burger-items">
				<a href="#">Acteurs locaux</a>
			</li>
			<li class="dropdown-burger-items">
				<a href="#">Clients</a>
			</li>
			<li class="dropdown-burger-items">
				<a href="{{ path('order_list') }}" onclick="initLoading()">Commandes</a>
			</li>
		</ul>
	{% endif %}
	{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
		<a href="{{ path('accueil_client') }}" class="burger-items" onclick="initLoading()">Mon espace</a>
		<a href="{{ path('panier') }}" class="burger-items" onclick="initLoading()">Mon panier <i class="fas fa-shopping-cart"></i></a>
		<a href="{{ path('app_logout') }}" class="burger-items" onclick="initLoading()">Déconnexion <i class="fas fa-sign-out-alt"></i></a>
	{% else %}
		<a href="{{ path('app_login') }}" class="burger-items" onclick="initLoading()">Se connecter</a>
	{% endif %}
</div>