{% block stylesheets %}
	{{ encore_entry_link_tags('menu') }}
{% endblock %}

<div id="dropdown-admin" class="dropdown">
    <a href="{{ path('accueil_client') }}" class="admin" onclick="initLoading()">
        Mon espace
        <i class="fas fa-caret-down"></i>
    </a>
	<ul class="dropdown-menu">
		<li class="sous-menu-items">
			<a href="{{ path("commandesList") }}" onclick="initLoading()">Mes commandes</a>
		</li>
		<li class="sous-menu-items">
			<a href="{{ path("connectionSecurity") }}" onclick="initLoading()">Connexion et sécurité</a>
		</li>
		<li class="sous-menu-items">
			<a href="{{ path("accountSettings") }}" onclick="initLoading()">Paramètre du compte</a>
		</li>
		<li class="sous-menu-items">
			<a href="{{ path("intervention_list") }}" onclick="initLoading()">Messagerie</a>
		</li>
		<li class="sous-menu-items">
			<a href="{{ path("contactUs") }}" onclick="initLoading()">Nous contacter</a>
		</li>
		<li class="sous-menu-items">
			<a href="#">Aide</a>
		</li>
		{# <li class="sous-menu-items">
			<a href="{{ path("panier") }}" onclick="initLoading()"><i class="fas fa-shopping-cart"></i> Panier</a>
		</li> #}
	</ul>
</div>
