{% extends "base.html.twig" %}

{% block title %}{{ product.name }}
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('fiche') }}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('fiche') }}
{% endblock %}

{% block body %}
    <div class="fiche">
        <div class="fiche-content">
            <form class="fiche-produit" action="{{ path('addPanier', {id: product.id }) }}">
                <div class="details-images">
                    {% for picture in product.pictures %}
                        <span class="previsu-img">
                            <img src="data:image/png;base64,{{ picture }}" alt="Image produit"/>
                        </span>
                    {% endfor %}
                </div>
                <div class="content-image">
                    <img id="princ-img" src="data:image/png;base64,{{ product.pictures|first }}" class="img-produit" alt="Image produit"/>
			    </div>
                <div class="details-produit">
                    <h3 class="nom-produit">{{ product.name }}</h3>
                    <div class="prix-produit">
                        {{ product.price }} €
                    </div>
                    <hr class="my-3">
                    <div class="description-produit">
                        <label>{{ product.description }}</label>
                        <div class="quantite">
                            <label class="label-quantite">Quantité :</label>
                            <input class="input-quantite" type="number" id="quantite" name="quantite" min="1" value="1">
                       </div>
                    </div>
                    
                    {% if product.opinions|length > 0 %}
                        {% set average = 0 %}
                        {% for opinion in product.opinions %}
                            {% set average = average + opinion.score %}
                        {% endfor %}
                        {% set average = (average / product.opinions|length)|round(0, 'floor') %}
                        <div class="rate-produit" title="{{ average }} étoiles sur 5">
                            {% for i in 1..5 %}
                                {% if i <= average %}
                                    <i class="fas fa-star text-yellow-300"></i>
                                {% else %}
                                    <i class="far fa-star text-gray-400"></i>	
                                {% endif %}
                            {% endfor %}
                            {{ product.opinions|length }} avis
                        </div>
                    {% endif %}

                    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                        <div class="ajout-panier">
                            <button class="btn-ajout-panier" onclick="initLoading();">
                                Ajouter au panier
                                <i class="fas fa-shopping-cart"></i>
                            </button>
                        </div>
                    {% else %}
                        <div class="ajout-panier">
                            <p>
                                Veuillez vous <a class="lien-inscrit" href="{{ path('app_login') }}">connecter</a> ou vous 
                                <a class="lien-inscrit" href="{{ path('app_inscription') }}">inscrire</a> pour compléter votre panier !
                            </p>
                        </div>
                    {% endif %}
                </div>
            </form>
            <div class="content-autre-produit">
                <h3 class="titre-autre">Plus de produits de la même gamme</h3>
                
                <div class="grille-produits">
                
                    {% for productCateg in products %}
                        {% if product.id != productCateg.id %}
                            <div class="produit" onclick="location.href = '{{ path("ficheProduit", {id: productCateg.id }) }}';initLoading();">
                                
                                <img src="data:image/png;base64,{{ productCateg.pictures|first }}" class="img-produit" alt="Image produit"/>
                                
                                <div class="description">
                                    <h3 class="nom-produit">{{ productCateg.name }}</h3>
                                    <div class="item-produit">{{ productCateg.price }} €</div>
                                    <div class="item-produit">{{ productCateg.description }}</div>
                                    {% if productCateg.opinions|length > 0 %}
                                        {% set average = 0 %}
                                        {% for opinion in productCateg.opinions %}
                                            {% set average = average + opinion.score %}
                                        {% endfor %}
                                        {% set average = (average / productCateg.opinions|length)|round(0, 'floor') %}
                                        <div class="rate-produit" title="{{ average }} étoiles sur 5">
                                            {% for i in 1..5 %}
                                                {% if i <= average %}
                                                    <i class="fas fa-star text-yellow-300"></i>
                                                {% else %}
                                                    <i class="far fa-star text-gray-400"></i>	
                                                {% endif %}
                                            {% endfor %}
                                            {{ productCateg.opinions|length }} avis
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>

            <div class="content-autre-produit">
                <h3 class="titre-autre">Avis clients</h3>
                
                {% for opinion in product.opinions %}
                    <div class="comment">
                        <div class="user-info">
                            <i class="fas fa-user"></i>
                            {{ opinion.fkid_u.username }}
                        </div>
                        
                        Ajouté le {{ opinion.add_time|date("d/m/Y") }}
                        <span class="rate-produit" title="{{ opinion.score }} étoiles sur 5">
                            {% for i in 1..5 %}
                                {% if i <= opinion.score %}
                                    <i class="fas fa-star text-yellow-300"></i>
                                {% else %}
                                    <i class="far fa-star text-gray-400"></i>	
                                {% endif %}
                            {% endfor %}
                        </span>
                        {{ opinion.comment }}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}