{% extends "base.html.twig" %}

{% block title %}Panier
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('panier') }}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('panier') }}
{% endblock %}

{% block body %}
	<div class="content-panier">
		<div class="panier-content">
			<h2 class="panier-title">
				Votre panier
			</h2>
			{% if cache.getItem('panier').get()|length > 0 %}
				{% if userId in  cache.getItem('panier').get()|keys %}
					{% if cache.getItem('panier').get()[userId]|length > 0 %}
						{% set sommePrix = 0 %}
						<div class="panier">
							<hr class="line mb-5" />

							{% for product in cache.getItem('panier').get()[userId] %}
								{% set sommePrix = sommePrix + product.price * product.quantity|number_format %}

								<div class="line-panier">
									<img src="data:image/png;base64,{{ product.pictures|first }}" width="180" height="180" class="img-produit" alt="Image produit"/>
									<div class="line-content">
										<p class="p-name">{{ product.name }}<p>
										<p>{{ product.description }}</p>
										<p>{{ product.price }} € par unité</p>
										<form method="POST" action="{{ path('panier_maj') }}">
											<p class="p-quantity">
												<input type="hidden" name="p" value="{{ product.id }}"></input>
												<input type="number" name="newQ" step="1" min="1" class="quantity-product" value="{{ product.quantity|number_format }}" max="999"></input>
												<button class="p-maj-quantity" type="submit" onclick="initLoading()">
													Mettre à jour
													<i class="fas fa-check-circle self-center" title="Mettre à jour la quantité"></i>
												</button>
											</p>
										</form>
										
										<a class="p-del-panier" href="{{ path('remove_panier', {'id': product.id}) }}" onclick="if(confirm('Êtes-vous sûr du supprimer ce produit du panier ?')){initLoading();return true;}else return false;">
											Supprimer du panier
											<i class="fas fa-times-circle self-center" title="Mettre à jour la quantité"></i>
										</a>
									</div>
								</div>

								<hr class="line mb-5" />
							{% endfor %}
							<div class="flex ml-auto text-xl">
								<p>Montant total de la commande</p>
								<p class="ml-4 text-pacifique-500">{{ sommePrix }} €</p>
							</div>
						</div>
						<button type="submit" class="btn-formu" onclick="location.href='{{ path('validationCommande') }}';initLoading();">
							Passer la commande
						</button>
					{% else %}
						Votre panier est vide !
					{% endif %}
				{% else %}
					Votre panier est vide !
				{% endif %}
			{% else %}
				Votre panier est vide !
			{% endif %}
		</div>
	</div>
</div>

{% include "includes/modal.html.twig" with {
    "show": removeModal,
    "modal_id": "remove_enreg",
    "title": "Suppression réussie <i class=\"fas fa-check text-green-600\"></i>",
    "content": "Le produit a bien été supprimer de votre panier.",
    "action_princ_lbl": "Fermer",
    "action": ""}
%}

{% include "includes/modal.html.twig" with {
    "show": quantityModal,
    "modal_id": "quantity_enreg",
    "title": "Quantité modifié <i class=\"fas fa-check text-green-600\"></i>",
    "content": "Le quantité a bien été modifié.",
    "action_princ_lbl": "Fermer",
    "action": ""}
%}
{% endblock %}