{% extends "base.html.twig" %}

{% block title %}Validation commande
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('panier') }}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('panier') }}
{% endblock %}

{% block body %}
	<div class="content-panier">
		<form class="panier-content">
			<h2 class="panier-title">
				Votre commande a bien été créée !
			</h2>

            <p> Vous pouvez vérifier son suivi dans <a class="lien-inscrit" href="{{ path('commandesList') }}">votre espace</a></p>
			
		</form>
	</div>
</div>

{% endblock %}