{% extends "base.html.twig" %}

{% block title %}Validation commande
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('panier') }}
	{{ encore_entry_link_tags('order') }}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('panier') }}
	{{ encore_entry_script_tags('order') }}
{% endblock %}

{% block body %}
	<div class="content-panier">
		<div class="panier-content">
			<h2 class="panier-title">
				Validation de votre commande
			</h2>

			<p class="text-2xl m-4"> Votre commande sera récupéré au point de retrait « <span class="withdrawalPoint">{{ pointRetrait.name }}</span> »</p>

			{% if cache.getItem('panier').get()|length > 0 %}
				{% if cache.getItem('panier').get()[userId]|length > 0 %}
					{% set sommePrix = 0 %}
					<form class="panier order-recap" id="formOrder" method="POST" action='{{ path("creationCommande") }}'>

						{% for product in cache.getItem('panier').get()[userId] %}
							{% set sommePrix = sommePrix + product.price * product.quantity|number_format %}

							<div class="line-panier card check" onclick="majCard(this)">
								<input name="p-id[]" class="p-id" type="hidden" value="{{ product.id }}" />
								<i class="fas fa-check-circle self-center"></i>
								<img src="data:image/png;base64,{{ product.pictures|first }}" width="180" height="180" class="img-produit" alt="Image produit"/>
								<div class="line-content">
									<p class="p-name">{{ product.name }}<p>
									<p>{{ product.description }}</p>
									<p class="p-price" data-price="{{ product.price * product.quantity|number_format }}">{{ product.price }} € par unité</p>
									<p>Qté : {{ product.quantity|number_format }}</p>
								</div>
							</div>

						{% endfor %}
			
						<div class="flex text-2xl mt-4">
							<p>Montant total de la commande</p>
							<p class="ml-4 text-pacifique-500" id="sommePrix">{{ sommePrix }} €</p>
						</div>
					</form>
		
					<button class="btn-formu" onclick="$('#formOrder').submit();initLoading();">
						Valider la commande
					</button>
				{% else %}
					Votre panier est vide !
				{% endif %}
			{% else %}
				Votre panier est vide !
			{% endif %}
		</div>
	</div>
</div>

{% endblock %}