.act {
  @apply flex justify-center;
  .act-content {
    @apply flex flex-wrap bg-pacifique-100 justify-center shadow-xl rounded p-8 my-12 w-3/4;
    .act-title {
      @apply text-center text-4xl w-full;
    }
    .btn-formu {
      @apply mt-6 items-center w-48 py-2 px-4 border border-gray-500 rounded-3xl text-black text-xl bg-white transition;
      &:hover {
        @apply bg-gray-200;
      }
    }
  }
}
