.fiche {
  @apply my-8 flex justify-center;
  .fiche-content {
    @apply container mx-auto px-6 bg-white justify-center shadow-xl rounded p-8 w-3/4;
    .fiche-produit {
      @apply md:flex md:items-center;
      .content-image {
        @apply w-full h-64 md:w-1/2 lg:h-96;
        .img-produit {
          @apply h-full rounded-md object-cover max-w-lg mx-auto;
        }
      }
      .details-produit {
        @apply w-full max-w-lg mx-auto mt-5 md:ml-8 md:mt-0 md:w-1/2;
        .nom-produit {
          @apply text-gray-700 uppercase text-2xl;
        }
        .prix-produit {
          font-family: "Josefin Slab Bold";
          @apply text-gray-500 mt-3 text-xl;
        }
        .description-produit {
          @apply mt-2 text-lg;
          .quantite {
            @apply flex items-center mt-3;
            .label-quantite {
              @apply text-gray-700 text-lg;
            }
            .input-quantite {
              @apply border border-gray-100 pl-2 text-gray-700 text-lg mx-2 rounded-md transition-colors;
              &:focus {
                @apply border-pacifique-400;
              }
            }
          }
        }
        .rate-produit {
          @apply text-lg mt-4;
        }
        .ajout-panier {
          @apply flex items-center mt-10;
          .btn-ajout-panier {
            font-family: "Josefin Slab Bold";
            @apply text-gray-600 text-lg border rounded-lg p-2 transform transition;
            &:hover {
              @apply bg-pacifique-100 scale-110;
            }
            &:focus {
              @apply outline-none;
            }
          }
          .lien-inscrit {
            @apply text-bondi-400 underline;
          }
        }
      }
      .details-images {
        @apply flex flex-col self-start;
        .previsu-img {
          border: 1px solid;
          @apply p-1 w-12 h-12 cursor-pointer border-gray-200 rounded-lg mt-1 flex transform transition;
          img {
            @apply self-center rounded-sm;
          }
        }
        .active {
          @apply scale-110 border-2 border-pacifique-200;
        }
      }
    }
    .content-autre-produit {
      @apply mt-16;
      .titre-autre {
        @apply text-gray-600 text-2xl font-medium;
      }
      .grille-produits {
        @apply grid gap-6 grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 mt-6;
        .produit {
          cursor: pointer;
          @apply w-full max-w-sm mx-auto rounded-md shadow-md overflow-hidden;
          .img-produit {
            @apply flex items-end justify-end bg-cover h-56 w-full;
          }
          .description {
            @apply px-5 py-3;
            .nom-produit {
              @apply text-gray-700 uppercase;
            }
            .item-produit {
              @apply text-gray-500 mt-2;
            }
          }
        }
      }
      .comment {
        @apply flex flex-col p-4 mb-4 shadow-md rounded-md;
        .user-info {
          @apply text-xl;
          i {
            @apply text-pacifique-300;
          }
        }
      }
    }
  }
}
