.order-recap {
  @apply mb-6 flex-col items-center;
  .card {
    @apply bg-white p-4 rounded-lg w-2/3 self-center border-2 relative cursor-pointer mt-4 transition transform;
    &:hover {
      @apply scale-105;
    }
    i {
      @apply absolute text-4xl top-0 right-0 -mt-3 -mr-1;
    }
  }
  .check {
    @apply border-green-400 shadow-lg;
    i {
      @apply text-green-500;
    }
  }
  .uncheck {
    @apply border-gray-300 shadow-lg;
    i {
      @apply text-gray-400;
    }
  }
}
.panier-content {
  .withdrawalPoint {
    font-family: "Josefin Slab Bold";
    @apply text-pacifique-300;
  }
}
