.content-panier {
  @apply flex justify-center;
  .panier-content {
    @apply flex flex-wrap bg-pacifique-100 justify-center shadow-xl rounded p-8 my-12 w-1/2 text-lg;
    .panier-title {
      @apply text-center text-4xl w-full;
    }
    .panier {
      @apply rounded-lg w-full flex flex-col;
      .line-panier {
        @apply flex flex-row;
        .line-content {
          @apply flex flex-col ml-6;
          .p-name {
            @apply text-2xl;
          }
          .p-quantity {
            @apply flex mt-4;
            .quantity-product {
              @apply w-16 rounded-md px-1 border-2 transition;
              &:focus {
                @apply border-pacifique-300;
              }
            }
            .p-maj-quantity {
              @apply flex ml-2 items-center text-base text-pacifique-500 bg-white rounded-xl p-1 transition border;
              &:hover {
                @apply bg-pacifique-200;
              }
              i {
                @apply ml-1 text-xl;
              }
            }
          }
          .p-del-panier {
            @apply mt-5 text-red-500 bg-white flex transition border w-48 rounded-xl p-1;
            &:hover {
              @apply bg-red-200;
            }
            i {
              @apply ml-1 text-xl;
            }
          }
        }
      }
    }
    .panierVide {
      @apply text-center w-full;
    }
    .btn-formu {
      @apply mt-6 items-center p-4 border border-pacifique-300 rounded-3xl text-xl bg-white transition transform;
      &:hover {
        @apply bg-pacifique-200 scale-105;
      }
      &:disabled {
        @apply bg-gray-200 cursor-not-allowed;
        &:hover {
          @apply scale-100 bg-gray-200;
        }
      }
    }
  }
}
