.dropdown {
  @apply transition-colors duration-150 inline-block self-center cursor-pointer;
  .admin {
    @apply transition flex-grow mr-4 text-center text-xl self-center block text-gray-900;
    &:hover {
      @apply text-gray-400;
    }
  }
  &:hover {
    @apply block;
    .dropdown-menu {
      @apply translate-y-0 visible opacity-100;
    }
  }
  .dropdown-menu {
    @apply transition-all duration-150 transform -translate-y-4 text-center invisible opacity-0 absolute rounded-md bg-white shadow-2xl z-10 border-2 border-gray-600;
    .sous-menu-items {
      @apply text-gray-600 relative border-gray-600;
      &:hover {
        @apply text-pacifique-500 bg-pacifique-100;
        .sous-cat {
          @apply translate-y-0 block absolute opacity-100 z-50;
        }
      }
      .sous-cat {
        @apply -ml-40 -mt-7 transition-all duration-150 transform -translate-y-4 text-center hidden opacity-0 absolute rounded-md bg-white shadow-2xl z-10 border-2 border-gray-600;
        .li-cat-menu {
          @apply w-40 text-gray-600 relative border-gray-600;
          &:hover {
            @apply text-pacifique-500 bg-pacifique-100;
          }
        }
      }
    }
    li:last-of-type {
      @apply border-b-0;
    }
  }
}
