.menu {
  @apply transition-colors duration-150 inline-block self-center max-h-7;
  .catalogue {
    @apply flex-grow transition mr-4 text-center text-xl self-center block text-gray-900;
    &:hover {
      @apply text-gray-400;
    }
  }
  &:hover {
    @apply text-gray-500 block;
    .menu-dropdown {
      @apply translate-y-0 visible opacity-100;
    }
  }
  .menu-dropdown {
    @apply transition-all duration-150 transform -translate-y-4 text-center invisible opacity-0 relative rounded-md bg-white shadow-2xl z-10 border-2 border-gray-600 max-w-max mx-auto;
    .items-sous-menu {
      @apply w-32 text-gray-600 relative border-gray-600 cursor-pointer;
      &:hover {
        @apply text-pacifique-500 bg-pacifique-100;
        .sous-cat {
          @apply translate-y-0 block absolute opacity-100 z-50;
        }
      }
      .sous-cat {
        @apply bg-white ml-32 -mt-7 transition-all duration-150 transform -translate-y-4 text-center hidden opacity-0 absolute rounded-md shadow-2xl z-10 border-2 border-gray-600 cursor-pointer;
        .li-menu {
          @apply w-28 text-gray-600 relative border-gray-600;
          &:hover {
            @apply text-pacifique-500 bg-pacifique-100;
          }
        }
      }
    }
    li:last-of-type {
      @apply border-b-0;
    }
  }
}
