{# templates/bundles/TwigBundle/Exception/error404.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Page introuvable{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('formulaire') }}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('formulaire') }}
{% endblock %}

{% block body %}
<div class="formu">
    <div class="formu-content text-center">
        <h1>Page introuvable</h1>
        <hr class="line" />
        <p class="mt-10 text-xl">
            La page n'existe pas (ou n'existe plus). <br />
            <button class="btn-action w-48 mx-auto" onClick="window.location.replace('{{ path('home') }}')">Retour à l'accueil</button>
        </p>
    </div>
</div>
{% endblock %}