{# templates/bundles/TwigBundle/Exception/error404.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Erreur{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('formulaire') }}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('formulaire') }}
{% endblock %}

{% block body %}
<div class="formu">
    <div class="formu-content text-center">
        <h1>Erreur</h1>
        <hr class="line" />
        <p class="mt-10 text-xl">
            Le serveur a rencontré un problème inattendu.<br />
            Veuillez contacter le service informatique.<br />
            <button class="btn-action w-48 mx-auto" onClick="window.location.replace('{{ path('home') }}')">Retour à l'accueil</button>
        </p>
    </div>
</div>
{% endblock %}