.act-title {
  @apply text-center;
}

.act {
  @apply flex justify-center;
  .act-content {
    @apply bg-white justify-center shadow-xl rounded px-8 pt-16 pb-16 my-12;
    .imgcnx {
      width: 350px;
      height: 310px;
      @apply hidden float-right pt-4 ml-10;
    }
    .imgmini {
      width: 100px;
      height: auto;
      @apply float-left;
    }
    .act-form {
      @apply mt-8;
      .act-title {
        @apply text-3xl font-extrabold;
      }
      .act-act {
        @apply text-3xl font-extrabold;
      }
      .content {
        @apply leading-none mb-8 text-justify;
      }
    }
  }
}

@screen lg {
  .act {
    .act-content {
      @apply max-w-6xl w-full;
      .imgcnx {
        @apply inline-block;
      }
    }
  }
}

$border-color: border-gray-500;
.btn-action {
  @apply text-xl border-2 rounded-3xl bg-white my-4 py-2;
  border-color: $border-color;
}

table,
th,
td {
  border: 1px solid black;
}

.list {
  @apply mx-auto text-xl border-gray-600;
  th,
  td {
    @apply text-center p-2;
  }
}

.true-span {
  @apply text-green-500;
}

.false-span {
  @apply text-red-600;
}

.link {
  &:hover {
    @apply text-pacifique-400 underline;
  }
  @apply transition-all duration-150 text-pacifique-500 font-semibold;
}
