.titre-cata {
  @apply mt-10 text-center;
}
.filtre-cata {
  @apply mx-auto py-5 pl-10 bg-pacifique-100 rounded-tr-xl rounded-tl-xl self-center w-3/4;
  .labelFiltre {
    @apply flex;
  }
  .filtre-select {
    @apply flex;
  }
}
.content-cata {
  @apply flex justify-center mx-auto w-3/4;
  .cata-content {
    @apply bg-white justify-center shadow-xl rounded px-8 pt-16 pb-16 w-full;
    .catalogue-content {
      @apply w-full;
      .produit {
        @apply m-2 inline-block w-full mb-4;
        //cursor: pointer;
        // @apply transform inline-block m-2 w-full transition;
        // &:hover {
        //   @apply scale-105;
        // }

        .img-produit {
          @apply float-left ml-1 cursor-pointer transform inline-block m-2 transition;
          &:hover {
            @apply scale-105;
          }
        }
        .content-produit {
          @apply inline-block text-center;
          .item-name,
          .item-description,
          .item-price,
          .item-opinions {
            @apply flex mb-2;
          }

          .item-name {
            @apply text-2xl cursor-pointer transform inline-block m-2 transition;
            &:hover {
              @apply scale-105;
            }
          }

          .item-description {
            @apply text-lg;
          }

          .item-price {
            font-family: "Josefin Slab Bold";
            @apply text-xl;
          }

          .item-opinions {
            @apply text-lg;
            i {
              @apply mr-1;
            }
          }
        }
        .btn-ajout-panier {
          @apply mx-2 text-gray-600 border rounded-md p-2;
          &:hover {
            @apply bg-gray-200;
          }
          &:focus {
            @apply outline-none;
          }
        }
      }
    }
  }
}
// .formu {
//   @apply flex justify-center;
//   .formu-content {
//     @apply bg-white justify-center shadow-xl rounded px-8 pt-16 pb-16 my-12;
//     .formu-form {
//       @apply mt-8;
//       .formu-title {
//         @apply text-3xl font-extrabold;
//       }
//       p {
//         @apply relative;
//       }
//     }
//   }
// }
