.formu {
  @apply flex justify-center;
  .formu-content {
    @apply bg-white justify-center shadow-xl rounded px-8 pt-16 pb-16 my-12;
    .imgcnx {
      @apply hidden float-right pt-4;
    }
    .formu-form {
      @apply mt-8;
      .formu-title {
        @apply text-3xl font-extrabold;
      }
      .alerte {
        @apply flex items-center bg-red-500 text-white text-sm font-bold px-4 py-3 mb-5 max-w-md;
      }
      .lien-inscrit {
        @apply text-bondi-400 underline;
      }
      .input-formu {
        @apply max-w-md rounded-md shadow-sm;
        .input-first {
          @apply transition appearance-none rounded block w-full px-3 py-2  bg-bondi-100 border border-transparent text-black rounded-t-md;
          // &:hover{
          //   @apply text-white bg-bondi-300;
          // }
          &:focus {
            @apply bg-pacifique-200;
          }
        }
        .input-marge {
          @apply mt-2;
          .input-next {
            @apply transition appearance-none rounded block w-full px-3 py-2  bg-bondi-100 border border-transparent text-black rounded-t-md;
            // &:hover{
            //   @apply text-white bg-bondi-300;
            // }
            &:focus {
              @apply bg-pacifique-200;
            }
          }
        }
      }
      .forget-mdp {
        @apply mt-6 flex leading-5;
        .lien-mdp {
          @apply text-pacifique-400 underline;
        }
      }
      .contact-check {
        @apply mt-6 flex leading-5;
        .contact-label {
          @apply flex items-center mr-8 max-w-md px-3 text-justify;
          .checkbox-contact {
            @apply mr-4;
          }
        }
      }
      .button-formu {
        @apply mt-6 max-w-md w-full flex justify-center py-2 px-4 border border-transparent rounded-md text-white bg-pacifique-300 transition duration-150;
        &:hover {
          @apply bg-pacifique-500;
        }
        p {
          @apply relative;
        }
        .lock-icon {
          @apply relative -left-28 pl-3 mt-0.5 text-pacifique-500;
        }
        .lock-open-icon {
          right: 0.125rem;
          @apply hidden relative left-24 -ml-3 mt-0.5 text-pacifique-300;
        }
      }
    }
  }
}

@screen lg {
  .formu {
    .formu-content {
      @apply max-w-6xl w-full;
      .imgcnx {
        @apply inline-block;
      }
      .formu-form {
        .button-formu {
          .lock-icon {
            @apply -left-44;
          }
          .lock-open-icon {
            right: 0.125rem;
            @apply block left-40;
          }
        }
      }
    }
  }
}

$border-color: border-gray-500;
.btn-action,
.btn-action-list {
  @apply transition mx-auto text-xl border-2 rounded-3xl bg-white my-4 py-2;
  border-color: $border-color;
  &:hover {
    @apply bg-gray-200;
  }
}
.btn-action-list {
  @apply my-0 mt-2 #{!important};
}

table,
th,
td {
  border: 1px;
  @apply border-solid border-gray-400;
}

.list {
  @apply mx-auto text-xl border-gray-400;
  th,
  td {
    @apply text-center p-2;
  }
  .btn-info-list {
    @apply transition;
    &:hover {
      @apply text-gray-400;
    }
  }
}

.true-span {
  @apply text-green-500;
}

.false-span {
  @apply text-red-600;
}

.link {
  &:hover {
    @apply text-pacifique-400 underline;
  }
  @apply transition-all duration-150 text-pacifique-500 font-semibold;
}
