$text-color: text-gray-400;
$text-color-hover: text-gray-900;

.header {
  font-family: "Josefin Slab Bold";
  @apply flex items-center px-16 flex-wrap mx-auto h-40 bg-pacifique-100;
  .header-content {
    @apply flex flex-grow flex-col mx-auto;
    .list-button {
      @apply hidden;
      .menu-button {
        @apply flex items-center flex-grow mt-4 divide-x divide-gray-300;
        .menu-items {
          //color: $text-color;
          @apply transition flex-grow text-gray-900 inline-block mr-4 text-center text-xl self-center cursor-pointer;
          &:hover {
            @apply text-gray-400;
          }
        }
      }
    }
    .menu-search {
      @apply flex justify-between flex-grow text-xl;
      .search {
        @apply flex flex-grow;
        @apply flex-row #{!important};
        #search-bar {
          color: $text-color;
          @apply transition flex-grow text-xl border rounded-xl p-1 border-gray-300 shadow-sm;
          // &:hover{
          //   color: $text-color-hover;
          //   @apply bg-gray-100 text-gray-500 border-gray-700;
          // }
          &:focus {
            color: $text-color-hover;
            border-width: 2px;
            @apply border-pacifique-300;
          }
        }
        .search-btn {
          color: $text-color;
          @apply text-3xl p-2;
        }
        #autocomplete-products {
          @apply mt-14 bg-white w-1/3 border-2 border-gray-200 rounded-md z-20;
          .autocomplete-prod {
            @apply py-2 cursor-pointer transition;
            &:hover {
              @apply text-blue-50 bg-blue-400;
            }
            .img-produit {
              @apply inline;
            }
          }
        }
      }
      .btn-menu {
        @apply text-4xl flex items-center px-3 py-2 border rounded text-black border-transparent;
        &:hover {
          @apply text-black border-black;
        }
        #btn-menu-close {
          @apply hidden;
        }
      }
      .connexion {
        @apply hidden;
        .menu-items {
          //color: $text-color;
          @apply transition mx-4 inline-block mr-4 text-center text-xl self-center text-gray-900;
          &:hover {
            //color: $text-color-hover;
            @apply text-gray-400;
          }
        }
      }
    }
  }
  .logo {
    @apply flex items-center flex-shrink-0 -ml-6;
    img {
      @apply block my-4 w-40;
    }
  }
}
.menuBurger {
  @apply z-10 hidden absolute h-full w-full m-0 bg-pacifique-200;
  .burger-items {
    @apply block px-8 py-8 text-7xl bg-pacifique-200;
    &:hover {
      @apply bg-pacifique-300;
    }
  }
  .dropdown {
    @apply hidden;
    .dropdown-burger-items {
      @apply block px-16 py-4 text-3xl bg-pacifique-200;
      &:hover {
        @apply bg-pacifique-300;
      }
    }
    .sous-menu {
      @apply hidden;
      .sous-menu-items-burger {
        @apply block px-24 py-4 text-3xl bg-pacifique-300;
        &:hover {
          @apply bg-pacifique-400;
        }
      }
    }
  }
}

@screen md {
  .header {
    @apply px-8;
  }
}
@screen lg {
  .header {
    .header-content {
      .list-button {
        @apply inline-block;
      }
      .menu-search {
        .btn-menu {
          @apply hidden;
        }
        .connexion {
          @apply flex;
        }
      }
    }
  }
  .menuBurger {
    @apply hidden;
  }
}
