.actus {
  @apply mx-auto text-center mt-20;
  font-family: "Josefin Slab Bold";
  .entry {
    @apply text-left text-gray-900;
    .entry-content {
      @apply leading-none mb-8 text-justify;
    }
  }
}

@screen md {
  .actus {
    max-width: theme("maxWidth.5/6");
  }
}

@screen lg {
  .actus {
    max-width: theme("maxWidth.3/4");
  }
}
