#autocomplete-country {
  @apply z-10 border-2 bg-white border-gray-200 rounded-md max-w-md w-full;
  .autocomplete-addr {
    @apply py-4 px-2 cursor-pointer rounded-md font-semibold transition;
    &:hover {
      @apply text-blue-50 bg-blue-400;
    }
  }
}
