@tailwind base;

@tailwind components;

@tailwind utilities;

/**
* https://gist.github.com/jonathantneal/d0460e5c2d5d7f9bc5e6
*/
@mixin fontface($name, $path, $weight: null, $style: null, $exts: eot woff2 woff ttf svg) {
  $src: null;
  $extmods: (
    eot: "?",
    svg: "#" + str-replace($name, " ", "_"),
  );
  $formats: (
    otf: "opentype",
    ttf: "truetype",
  );
  @each $ext in $exts {
    $extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext);
    $format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
    $src: append($src, url(quote($path + "." + $extmod)) format(quote($format)), comma);
  }
  @font-face {
    font-family: quote($name);
    font-style: $style;
    font-weight: $weight;
    src: $src;
  }
}

@import "~@fortawesome/fontawesome-free/css/all.css";

// @import "header.scss";
// @import "home.scss";
// @import "formulaire.scss";

// Espace Client
// @import "espace-client/accueil.scss";

// Includes
// @import "includes/menu/admin.scss";

// Administration page
// @import "admin/category/list.scss";

// Josefin Slab
@include fontface("Josefin Slab Bold", "../fonts/Josefin_Slab/JosefinSlab-Bold", null, null, ttf) @include
  fontface("Josefin Slab Bold Italic", "../fonts/Josefin_Slab/JosefinSlab-BoldItalic", null, null, ttf) @include
  fontface("Josefin Slab Italic", "../fonts/Josefin_Slab/JosefinSlab-Italic", null, null, ttf) @include
  fontface("Josefin Slab Light", "../fonts/Josefin_Slab/JosefinSlab-Light", null, null, ttf) @include
  fontface("Josefin Slab Light Italic", "../fonts/Josefin_Slab/JosefinSlab-LightItalic", null, null, ttf) @include
  fontface("Josefin Slab", "../fonts/Josefin_Slab/JosefinSlab-Regular", null, null, ttf) @include
  fontface("Josefin Slab SemiBold", "../fonts/Josefin_Slab/JosefinSlab-SemiBold", null, null, ttf) @include
  fontface("Josefin Slab SemiBold Italic", "../fonts/Josefin_Slab/JosefinSlab-SemiBoldItalic", null, null, ttf) @include
  fontface("Josefin Slab Thin", "../fonts/Josefin_Slab/JosefinSlab-Thin", null, null, ttf) @include
  fontface("Josefin Slab Thin Italic", "../fonts/Josefin_Slab/JosefinSlab-ThinItalic", null, null, ttf);

body,
html {
  font-family: "Josefin Slab";
  @apply text-gray-600 w-full h-full;
  background-color: #f5f5f5;
}

h1 {
  @apply text-4xl;
}
h2 {
  @apply text-2xl mb-2;
}

:focus {
  outline: none !important;
}

.line {
  @apply border-0 mt-4;
  height: 1px;
  background-image: linear-gradient(to right, rgba(193, 193, 193, 0), rgba(193, 193, 193, 0.75), rgba(193, 193, 193, 0));
}

.text-bold {
  font-family: "Josefin Slab Bold";
}
