.modal-container {
  @apply fixed w-full h-full top-0 left-0 items-center justify-center;
  .modal-overlay {
    @apply absolute w-full h-full bg-gray-900 opacity-50;
  }
  .modal-content {
    button {
      &:hover {
        @apply text-pacifique-400 bg-gray-100;
      }
      @apply px-4 bg-transparent p-3 rounded-lg text-pacifique-500 mr-2;
    }
    @apply w-11/12 mx-auto relative flex flex-col shadow-lg overflow-y-auto bg-white z-50 rounded-lg py-4 text-left px-6 text-lg;
    .modal-close {
      @apply cursor-pointer mt-4;
    }
    .modal-header {
      @apply flex justify-between items-center pb-3;
      .title {
        @apply text-2xl font-bold;
      }
    }
    .modal-footer {
      @apply flex justify-end pt-2;
      .close-btn {
        @apply px-4 bg-pacifique-500 p-3 rounded-lg text-white hover:bg-pacifique-400;
      }
    }
    select {
      @apply border-2 rounded-md;
      &:focus {
        @apply border-pacifique-200;
      }
    }
    .fields {
      @apply flex flex-col flex-wrap;
      .field {
        @apply flex justify-between mt-4;
        label {
          @apply self-center;
        }
        .field-input {
          @apply transition bg-gray-100 border-2 p-1 rounded-lg max-w-1/2;
          &:focus {
            @apply border-pacifique-300;
          }
        }
        .field-textarea {
          @apply w-full max-w-full #{!important};
        }
      }
    }
    .modal-list {
      @apply border-0 border-none #{!important};
      @apply text-base;
    }
    .btn-action {
      @apply bg-bondi-400 rounded-3xl w-60 mx-auto text-white border-transparent transition-colors;
      &:hover {
        @apply bg-bondi-500 text-pacifique-100;
      }
    }
  }
}
.modal-active {
  @apply overflow-x-hidden;
  @apply overflow-y-visible #{!important};
}

@screen md {
  .modal-content {
    @apply max-w-lg;
  }
}
