.content {
  font-family: "Josefin Slab Bold";
  @apply flex justify-center;
  //flex flex-wrap my-12 p-16 w-full m-auto mt-8 bg-pacifique-100 rounded-lg;
  .espace-content {
    @apply flex flex-wrap px-10 py-10 mx-5 mt-10 bg-pacifique-100 rounded-lg;
    .imgespace {
      width: 350px;
      height: auto;
      @apply hidden float-right pt-4 my-auto;
    }
    .mon-espace {
      .hello {
        @apply h-16 text-4xl w-full;
      }
      @apply justify-between;
      .line-bouton {
        @apply flex justify-between flex-grow text-xl mx-auto my-5;
        .action {
          width: 170px !important;
          @apply transition flex-auto w-auto text-2xl mx-2;
          &:hover {
            @apply text-gray-400 transform scale-105;
            i {
              color: #91bee1;
            }
          }
          i {
            width: 170px !important;
            color: #84b1d4;
            @apply transition text-6xl;
          }
        }
      }
    }
  }
  .content-espace {
    @apply flex justify-center;
  }
}

@screen lg {
  .content {
    .espace-content {
      .imgespace {
        @apply inline-block;
      }
    }
  }
}
