.security-content {
  .title {
    @apply text-center w-full;
  }
  .list-modif {
    @apply flex flex-col flex-wrap mt-6 w-full divide-y-2 divide-gray-300;
    .line-modif {
      @apply flex flex-row justify-between items-center flex-grow;
      .infos {
        @apply flex flex-col flex-grow;
        label {
          @apply text-lg;
        }
      }
      .btn-action {
        @apply flex-grow max-w-max px-6;
      }
    }
  }
}
