.intervention-content {
  @apply flex-row flex-wrap mb-40;
  .title-head {
    @apply text-center mx-auto;
  }
  .container-messages {
    @apply flex flex-col w-full border-2 p-8 border-gray-400 rounded-lg mx-auto bg-gray-400;
    .message {
      @apply p-4 max-w-1/2 bg-gray-300 border-2 border-gray-300 rounded-lg rounded-bl-none;
    }
    .sender {
      @apply ml-auto text-white bg-pacifique-400 border-2 border-pacifique-400 rounded-lg rounded-br-none;
    }
    .newMessage-content {
      @apply mt-6 flex flex-row;
      .text-msg {
        @apply w-full h-20 max-h-full p-2 bg-gray-200 self-center rounded-lg border-2;
        &:focus {
          @apply border-pacifique-300;
        }
      }
      .send-message {
        @apply transition w-10 h-10 text-pacifique-500 self-center ml-4 rounded-3xl;
        &:hover {
          @apply text-pacifique-300 bg-gray-300;
        }
      }
    }
  }
  .list {
    @apply w-full;
    .dtl-intervention {
      @apply transition;
      &:hover {
        @apply text-gray-400;
      }
    }
  }
  .btn-footer {
    @apply flex flex-col #{!important};
    @apply mx-auto;
  }
}
