.list-command {
  font-family: "Josefin Slab Bold";
  @apply flex justify-center flex-wrap;
  .command-content {
    @apply flex justify-center flex-col px-8 py-4 mx-5 mt-10 rounded-lg w-2/3;
    .title {
      @apply h-16 text-4xl w-full;
    }
    .line-cde {
      @apply w-full p-8 mb-5 bg-pacifique-100 rounded-lg;
      .header-cde {
        @apply flex flex-wrap text-xl mx-auto justify-between;
        .btn-payments-list {
          @apply text-pacifique-400 transition;
          &:hover {
            @apply text-pacifique-300 underline;
          }
        }
      }
      .details-prod {
        @apply flex pt-5 w-full text-lg;
        .elem-prod {
          @apply pl-5 align-middle;
        }
      }
      .payments_list {
        @apply mx-auto;
        th,
        td {
          @apply text-center w-36;
        }
      }
    }
    .btn-retour {
      @apply mt-6 max-w-md w-full mx-auto py-2 px-4 border rounded-lg text-xl bg-white transition duration-150 border-gray-300;
      &:hover {
        @apply bg-pacifique-100;
      }
    }
  }
}
