{% extends "base.html.twig" %}

{% block title %}Contact
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('formulaire') }}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('formulaire') }}
{% endblock %}

{% block body %}
	<div class="formu">
		<div class="formu-content">
			<img class="imgcnx" src="{{ asset("img/contact.png") }}" alt="Chargement..." width="350px" height="auto"/>
			<form class="formu-form" action="#" method="POST">
				<h2 class="formu-title">
					Formulaire de contact
				</h2>
				<div class="input-formu">
					<input aria-label="Nom" name="name" type="text" class="input-first" placeholder="Nom">
					<div class="input-marge">
						<input aria-label="Prenom" name="firstname" type="text" class="input-next" placeholder="Prénom">
					</div>
					<div class="input-marge">
						<input aria-label="Email" name="email" type="email" required class="input-next" placeholder="Adresse email *">
					</div>
					<div class="input-marge">
						<input aria-label="Sujet" name="subject" type="text" required class="input-next" placeholder="Sujet *">
					</div>
					<div class="input-marge">
						<input aria-label="Message" name="message" type="text" required class="input-next" placeholder="Message *">
					</div>
				</div>
				<div class="contact-check">
					<label href="#" class="contact-label">
						<input type="checkbox" class="checkbox-contact">
						* J'accepte que les données que je renseigne dans ce formulaire sont a 
						destination de VERRE-TECH et peuvent être utilisés pour effectuer 
						des statistiques et tout autre traitement non commerciale.
					</label>
				</div>
				<button type="submit" class="button-formu">
					Envoyer
				</button>
			</form>
		</div>
	</div>
{% endblock %}
