{% extends "base.html.twig" %}

{% block title %}Fiche produit
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('admin') }}
	{{ encore_entry_link_tags('formulaire') }}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('admin') }}
	{{ encore_entry_script_tags('formulaire') }}
{% endblock %}

{% block body %}
	<div class="container-search content">
		<h1>Fiche produit</h1>
		<hr class="line"/>
		<form method="POST" action="{{ path("product_enreg") }}{{ n > 0 ? "?n=1" : "" }}" class="infos">

			<div class="field">
				<label>Categorie</label>
				<select name="fkIdProdCat" class="select-group">
					{% for categ in product.all_categories %}
						<optgroup label="{{ categ.name }}">
							{% for subCateg in categ.categories %}
								<option value="{{ subCateg.id }}" {% if product.fkIdProdCat is defined and subCateg.id == product.fkIdProdCat.id %} selected {% endif %}>{{ subCateg.name }}</option>
							{% endfor %}
						</optgroup>
					{% endfor %}
				</select>
			</div>

			<div class="field">
				<label>Nom</label>
				<input name="name" type="text" value="{{ product.name is defined ? product.name : ""}}"/>
			</div>

			{% if product.id is defined %}
				<input name="id" class="hidden" value="{{ product.id }}"/>
			{% endif %}

			<div class="field">
				<label>Description</label>
				<input name="description" type="text" value="{{ product.description is defined ? product.description : ""}}"/>
			</div>

			<div class="field">
				<label>Prix</label>
				<input name="price" type="number" step="0.01" value="{{ product.price is defined ? product.price : ""}}"/>
			</div>


			{% if product.pictures is defined and product.pictures|length > 0 %}
				<div class="field">
					<label>
						Image(s) du produit (clique sur l'image pour suppression)
						<div class="list-pictures">
							{% set cpt = 0 %}
							{% for picture in product.pictures %}
								{% set cpt = cpt+1 %}
								<div class="picture-{{ cpt }}" onclick="$(this).remove()">
									<input type="hidden" value="{{ picture }}" name="pictures[]"/>
									<img src="data:image/png;base64,{{ picture }}" width="200" height="200"/>
								</div>
							{% endfor %}
						</div>
					</label>
				</div>
			{% endif %}
			<div class="field flex-col">
				<label class="upload-file">
					Ajouter une image
					<i class="fas fa-upload mt-2"></i>
					<input class="hidden" type="file" accept=".jpg, .jpeg, .png" multiple>
				</label>

				<div id="preview"></div>
			</div>

			<button class="btn-action w-32" type="submit">Enregistrer</button>
		</form>
		<button class="btn-action w-28" onclick="window.location.replace('{{ path('product_list') }}')">Retour</button>
	</div>

	{% include "includes/modal.html.twig" with {
        "show": show_modal_enreg,
        "modal_id": "product_enreg",
        "title": "Enregistrement réussie <i class=\"fas fa-check text-green-600\"></i>",
        "content": "Vous avez bien enregistré le produit.",
        "action_princ_lbl": "Fermer",
        "action": ""}
    %}

{% endblock %}
