{% extends "base.html.twig" %}

{% block title %}Gestion des produits
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('admin') }}
	{{ encore_entry_link_tags('formulaire') }}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('admin') }}
	{{ encore_entry_script_tags('formulaire') }}
{% endblock %}

{% block body %}
    <div class="container-search content">
		<h1>Gestion des produits</h1>
		<hr class="line"/>
		<button class="btn-action btn-new" onClick="window.location.replace('{{ path("product_details") }}?n=1')">Nouveau produit</button>
		<form class="search" method="POST" action="{{ path("product_search") }}">
		
			<div class="field">
				<label>ID produit</label>
				<input class="field-input" name="id" type="number"/>
			</div>

			<div class="field">
				<label>Nom produit</label>
				<input class="field-input" name="name" type="text"/>
			</div>

			<button class="btn-action" type="submit">Rechercher</button>
		</form>
		<button class="btn-action btn-new" onClick="window.location.replace('{{ path('home') }}')">Retour accueil</button>

		<form method="POST" action="{{ path("product_search") }}">
		{% if products|length > 0 %}
			<div class="search-content">
				<table class="list">
					<tr>
						<th>IdProduit</th>
						<th>Nom</th>
						<th>Catégorie</th>
						<th>Description</th>
						<th>Infos</th>
					</tr>
					{% for product in products %}
						<tr>
							<td>{{ product.id }}</td>
							<td>{{ product.name }}</td>
							<td>{{ product.fkIdProdCat.name }}</td>
							<td>{{ product.description }}</td>
							<td>
								<a class="btn-info-list" href="{{ path("product_details") }}?i={{ product.id }}">
									<i class="fas fa-edit"></i>
								</a>
							</td>
						</tr>
					{% endfor %}
				</table>
				
			</div>
		{% elseif error|length > 0 %}
			<div class="error-msg">{{ error }}</div>
		{% endif %}
	</div>
{% endblock %}