{% extends "base.html.twig" %}

{% block title %}Connexion
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('formulaire') }}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('formulaire') }}
{% endblock %}

{% block body %}
	<div class="formu">
		<div class="formu-content">
			<img class="imgcnx" src="{{ asset("img/connexion.png") }}" width="500px" height="auto"/>
			<form class="formu-form" action="/login_check" method="POST" onsubmit="initLoading();">
				{% if error is defined %}
					<div class="alerte" role="alert">
						<i class="fas fa-exclamation-triangle"></i>
						<div class = "ml-2">{{error}}</div>
					</div>
				{% endif %}
				<h2 class="formu-title">
					Mon espace
				</h2>
				<p>Pas de compte VERRE-TECH ?
					<a class="lien-inscrit" href="{{ path('app_inscription') }}">Créez-vous en un !</a>
				</p>
				<div class="input-formu">
					<input aria-label="Email" name="email" type="email" required class="input-first" placeholder="Adresse email">
					<div class="input-marge">
						<input aria-label="Mot de passe" name="password" type="password" required class="input-next" placeholder="Mot de passe">
					</div>
					<div class="forget-mdp">
						<a href="#" class="lien-mdp">
							Mot de passe oublié ?
						</a>
					</div>
					<button type="submit" class="button-formu">
						<i class="fas fa-lock lock-icon"></i>
						<p>Connexion</p>
						<i class="fas fa-lock-open lock-open-icon"></i>
					</button>
					<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
				</form>
			</div>
		</div>
	</div>
{% endblock %}
