{% extends "base.html.twig" %}

{% block title %}Inscription
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('formulaire') }}
	{{ encore_entry_link_tags('inscription') }}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('formulaire') }}
	{{ encore_entry_script_tags('inscription') }}
{% endblock %}
{% block body %}
	<div class="formu">
		<div class="formu-content">
			<img class="imgcnx" src="{{ asset("img/inscription.png") }}" alt="Chargement..." width="500px" height="500"/>
			<form class="formu-form" action="{{ path('app_inscription_submit') }}" method="POST">
				{% if error is defined %}
				<div class="alerte" role="alert">
				<i class="fas fa-exclamation-triangle"></i>
				<div class = "ml-2">{{error}}</div>
				</div>
				{% endif %}
				<h2 class="formu-title">
					Créer son espace
				</h2>
				<p>Déjà un compte ?
					<a class="lien-inscrit" href="{{ path('app_login') }}">Connectez-vous</a>
				</p>
				<div class="input-formu">
					<input aria-label="Nom" name="lastname" type="text" class="input-first" required class="input-next" placeholder="Nom *">
					<div class="input-marge">
						<input aria-label="Prenom" name="firstname" type="text" class="input-next" required class="input-next" placeholder="Prénom *">
					</div>
					<div class="input-marge">
						<input aria-label="AdressePostal" name="address" type="text" required class="input-next" placeholder="Adresse postal *" onKeyDown="autocompleteAddress(this.value)"  onfocusin="autocompleteAddress(this.value)" />
						<div id="autocomplete-country" class="absolute invisible"></div>
					</div>
					<div class="input-marge">
						<input aria-label="Email" name="email" type="email" required class="input-next" placeholder="Adresse email *">
					</div>
					<div class="input-marge">
						<input aria-label="Téléphone" name="phone" type="tel" pattern="[0-9]{2}[0-9]{2}[0-9]{2}[0-9]{2}[0-9]{2}" required class="input-next" placeholder="Téléphone *">
					</div>
					<div class="input-marge">
						<input aria-label="Mot de passe" name="password" type="password" required class="input-next" placeholder="Mot de passe *">
					</div>
					<div class="input-marge">
						<input aria-label="Confirmation" name="passwordConfirm" type="password" required class="input-next" placeholder="Confirmation *">
					</div>
				</div>
				<div class="contact-check">
					<label href="#" class="contact-label">
						<input required type="checkbox" class="checkbox-contact">
						* J'accepte que les données que je renseigne dans ce formulaire sont a 
						destination de VERRE-TECH et peuvent être utilisés pour effectuer 
						des statistiques et tout autre traitement non commerciale.
					</label>
				</div>
				<button type="submit" class="button-formu">
					S'inscrire
				</button>
			</form>
		</div>
	</div>
{% endblock %}
