{% extends "base.html.twig" %}

{% block title %}Nous contacter
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('espace-client') }}
	{{ encore_entry_link_tags('formulaire') }}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('espace-client') }}
	{{ encore_entry_script_tags('formulaire') }}
{% endblock %}

{% block body %}
	<div class="content">
		<div class="espace-content intervention-content">
            <div class="title-head">
                <h1>Demande d'intervention N° {{ intervention.id }}</h1>
                <h2>
                    {% if intervention.handled %}
                        {% if intervention.interventionTracks|length > 0 %}
                            Ticket fermé le {{ intervention.interventionTracks | last.time | date("d/m/Y")}}
                        {% else %}
                            Ticket fermé le {{ intervention.time | date("d/m/Y")}} 
                        {% endif %}
                    {% else %}
                        Ticket ouvert depuis le {{ intervention.time | date("d/m/Y")}} 
                    {% endif %}
                </h2>
            </div>

            <div class="container-messages">
                <div class="message {% if jwtPayload.id == intervention.fkid_u.id %}sender{% endif %}">                
                    {{ intervention.message | raw }}
                </div>
                <div class="{% if jwtPayload.id == intervention.fkid_u.id %}ml-auto{% endif %}">
                    {{ intervention.fkid_u.firstname }} {{ intervention.fkid_u.lastname }} le {{ intervention.time | date("d/m/Y")}} à {{ intervention.time | date("H:m:s")}}
                </div>

                {% for tracks in intervention.interventionTracks %}
                    <div class="message {% if jwtPayload.id == tracks.fkid_u.id %}sender{% endif %}">
                        {{ tracks.message | raw }}
                    </div>
                    <div class="{% if jwtPayload.id == tracks.fkid_u.id %}ml-auto{% endif %}">
                        {{ tracks.fkid_u.firstname }} {{ tracks.fkid_u.lastname }} le {{ tracks.time | date("d/m/Y")}} à {{ tracks.time | date("H:m:s")}}
                    </div>
                {% endfor %}

                {% if intervention.handled == false %}
                    <form class="newMessage-content" method="POST" action="{{ path('intervention_send_msg') }}">
                        <input type="hidden" name="fkidInter" value="{{ intervention.id }}" />
                        <textarea class="text-msg" type="text" name="message" placeholder="Message"></textarea>
                        <button class="send-message">
                            <i class="fas fa-paper-plane"></i>
                        </button>
                    </form>
                {% endif %}
            </div>
            
            <div class="btn-footer">
                {% if intervention.handled == false %}
                    <button class="btn-action w-48" onclick="window.location.replace('{{ path('intervention_close') }}?i={{ intervention.id }}')">
                        Fermer la demande
                    </button>
                {% endif %}
                <button class="btn-action w-28" onclick="window.location.replace('{{ path('intervention_list') }}')">Retour</button>
            </div>
        </div>
	</div>
{% endblock %}
