{% extends "base.html.twig" %}

{% block title %}Nous contacter
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('espace-client') }}
	{{ encore_entry_link_tags('formulaire') }}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('espace-client') }}
	{{ encore_entry_script_tags('formulaire') }}
{% endblock %}

{% block body %}
	<div class="content">
		<div class="espace-content intervention-content">
            <div class="title-head">
                <h1 class="mx-auto pb-4">Liste de vos demandes</h1>
                <button id="intervention-open" class="btn-action w-48">Nouvelle demande</button>
                {% if interventions|length == 0 %}
                    <h2>Aucun demande d'interventions</h3>
                {% endif %}
            </div>
            {% if interventions|length > 0 %}
                <table class="list">
                    <tr>
                        <th>Date ouverture</th>
                        <th>Type</th>
                        <th>Etat</th>
                        <th>Mise à jour</th>
                        <th>Voir</th>
                    </tr>
                    {% for intervention in interventions %}
                        <tr>
                            <td>{{ intervention.time | date('d/m/Y')}}</td>
                            <td>{{ intervention.fkid_interType.name }}</td>
                            <td>
                                {% if intervention.handled %}
                                    Fermée
                                {% else %}
                                    Ouverte
                                {% endif %}
                            </td>
                            <td>
                                {% if intervention.interventionTracks|length > 0 %}
                                    {{ intervention.interventionTracks|last.time|date('d/m/Y') }} à {{ intervention.interventionTracks|last.time | date('H:m:s')}}
                                {% else %}
                                    {{ intervention.time | date('d/m/Y')}} à {{ intervention.time | date('H:m:s')}}
                                {% endif %}
                            </td>
                            <td>
                                <button class="dtl-intervention" onclick="window.location.replace('{{ path('intervention_details') }}?i={{ intervention.id }}')">
                                    <i class="fas fa-eye"></i>
                                </button>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            {% endif %}
            <div class="btn-footer w-full">
		        <button class="btn-action w-28" onclick="window.location.replace('{{ path('accueil_client') }}')">Retour</button>
            </div>
        </div>
	</div>
{% include "includes/modal.html.twig" with {
    "show": false,
    "modal_id": "btn-new-intervention",
    "title": "Nouvelle demande support <i class='fas fa-user-edit text-pacifique-400'></i></i>",
    "content": '
        <div class="fields">
            <div class="field w-full">
                <textarea class="field-input field-textarea" name="message" placeholder="Message de la demande"></textarea>
            </div>
        </div>
    ',
    "action_princ_lbl": "Valider",
    "select_title" : "Choisissez un type de demande",
    "options": intervention_types,
    "option_value": "id",
    "option_lbl": "name",
    "btn_trigger": "intervention-open",
    "form_action": "intervention_enreg",
    "form_identifier": "new-intervention",
    "action": "<button class='modal-close' type='button'>Retour</button>"} 
%}
{% endblock %}