{% extends "base.html.twig" %}

{% block title %}ActeursLocaux
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('acteurs') }}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('acteurs') }}
{% endblock %}

{% block body %}
	<div class="act">
		<div class="act-content">
			<h2 class="act-title">
				Acteurs Locaux
			</h2>
			<img class="imgcnx" src="{{ asset("img/acteurs_locaux.png") }}" alt="Chargement..." width="350px" height="auto"/>
			<div class="act-form">
				<div class="">
					<img src="{{ asset('img/logo.jpg')}}" class="imgmini"/>
					<p class = "content">
						Suspendisse et elit condimentum, laoreet nulla ac, euismod nisl. Donec venenatis urna et commodo pretium. 
						Suspendisse et ex in urna imperdiet tincidunt. Suspendisse potenti. Orci varius natoque penatibus et magnis 
						dis parturient montes, nascetur ridiculus mus. Fusce porttitor ut nisi eget fermentum. Pellentesque ac lacus rhoncus, 
						lacinia urna eget.
					</p>
				</div>
				<div class="">
					<img src="{{ asset('img/logo.jpg')}}" class="imgmini"/>
					<p class = "content">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc tristique turpis purus, 
						non suscipit arcu hendrerit nec. Ut magna lectus, fringilla at rhoncus vel, 
						mattis quis urna. Integer vitae interdum velit, sit amet consequat arcu. 
						Morbi a viverra leo. 
					</p>
				</div>
				<div class="">
					<img src="{{ asset('img/logo.jpg')}}" class="imgmini"/>
					<p class = "content">
						Aliquam pellentesque ante sem, a dapibus leo laoreet vel. 
						Cras efficitur volutpat dignissim. Duis sagittis cursus tincidunt. Nam a lorem mauris. 
						Quisque feugiat blandit metus, et congue enim porta id. Orci varius natoque penatibus et magnis 
						dis parturient montes, nascetur ridiculus mus.
					</p>
				</div>
			</div>
		</div>
	</div>

{% endblock %}