<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			Verre-Tech -
			{% block title %}
				Accueil
			{% endblock %}
		</title>
		<link rel="icon" href="{{ asset('img/logo.jpg')}}"/>
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
			{{ encore_entry_link_tags('header') }}
			{{ encore_entry_link_tags('loading') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
			{{ encore_entry_script_tags('header') }}
			{{ encore_entry_script_tags('loading') }}
		{% endblock %}
	</head>
	<body>
		{% block loading %}
			<div id="loading">
				{% include "includes/loading.html.twig" %}
			</div>
		{% endblock %}
		{% block header %}
			{% include "header.html.twig" %}
		{% endblock %}
		{% block body %}{% endblock %}
	</body>
</html>
