{% extends "base.html.twig" %}

{% block title %}Catalogue
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('catalogue') }}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('catalogue') }}
{% endblock %}

{% block body %}
	<div class="titre-cata">
		<h1>Catalogue</h1>
	</div>
	<form class="filtre-cata">
		<div class="labelFiltre">
			Filtre catégorie :
		</div>
		<select name="categorieEnfant" id="enfant" class="filtre-select">
			{% for categ in product.all_categories %}
				<optgroup label="{{ categ.name }}">
					{% for subCateg in categ.categories %}
						<option name="filtreProduit" value="{{ subCateg.id }}" {% if subCateg.id == category.id %} selected {% endif %}>{{ subCateg.name }}</option>
					
					{% endfor %}
				</optgroup>
			{% endfor %}
		</select>
	</form>
	<div class="content-cata">
		<div class="cata-content">
			
			<div class="catalogue-content">
				<hr/>
				{% for product in category.products %}

				<div class="produit">
					<img src="data:image/png;base64,{{ product.pictures|first }}" width="200" height="200" class="img-produit" alt="Image produit" onclick="location.href = '{{ path("ficheProduit", {id: product.id }) }}';initLoading();"/>
					<div class="content-produit">
						<a class="item-name" onclick="location.href = '{{ path("ficheProduit", {id: product.id }) }}';initLoading();">{{ product.name }}</a>
						<span class="item-description">{{ product.description }}</span>
						<span class="item-price">{{ product.price }} €</span>
						{% if product.opinions|length > 0 %}
							{% set average = 0 %}
							{% for opinion in product.opinions %}
								{% set average = average + opinion.score %}
							{% endfor %}
							{% set average = (average / product.opinions|length)|round(0, 'floor') %}
							<span class="item-opinions" title="{{ average }} étoiles sur 5">
								{% for i in 1..5 %}
									{% if i <= average %}
										<i class="fas fa-star text-yellow-300"></i>
									{% else %}
										<i class="far fa-star text-gray-400"></i>	
									{% endif %}
								{% endfor %}
							</span>
						{% else %}
							<span class="item-opinions">
								Aucun avis pour le moment
							</span>
						{% endif %}
					</div>
				</div>
				<hr/>

				{% endfor %}
			</div>
		</div>
	</div>
{% endblock %}