<nav class="header">
	<div class="logo">
		<a href="/" onclick="initLoading()">
			<img src="{{ asset('img/logo.jpg')}}"/>
		</a>
	</div>
	<div class="header-content">
		<div class="menu-search ">
			<div class="search" onfocusin="autocompleteProduct($('#search-bar').val())">
				<input type="text" id="search-bar" onclick="callProducts()" onkeydown="autocompleteProduct(this.value)" />
				<i class="fas fa-search search-btn"></i>
				<div id="autocomplete-products" class="absolute invisible"></div>
			</div>
			<button class="btn-menu">
				<i id="btn-menu-open" class="fas fa-bars"></i>
				<i id="btn-menu-close" class="fas fa-times"></i>
			</button>
			<div class="connexion">
				{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
					<a href="{{ path('panier') }}" class="menu-items" onclick="initLoading()" title="Panier"><i class="fas fa-shopping-cart"></i></a>
					
					{% include "includes/menu/monEspace.html.twig" %}
				{% else %}
					<a href="{{ path('app_login') }}" class="menu-items" onclick="initLoading()">Se connecter</a>
				{% endif %}

				{% if is_granted('ROLE_ADMIN') %}
					{% include "includes/menu/admin.html.twig" %}
				{% endif %}

				{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
					<a href="{{ path('app_logout') }}" class="menu-items" onclick="initLoading()" title="Déconnexion"><i class="fas fa-sign-out-alt"></i></a>
				{% endif %}
			</div>
		</div>
		<div class="list-button">
			<hr class="line"/>
			<div class="menu-button">
				{% include "includes/menu/menu-catalogue.html.twig" %}
				<a href="{{ path('acteursLocaux') }}" class="menu-items" onclick="initLoading()">Acteurs locaux</a>
				<a href="{{ path('partenaires') }}" class="menu-items" onclick="initLoading()">Partenaires</a>
				<a href="{{ path('contact') }}" class="menu-items" onclick="initLoading()">Contact</a>
			</div>
		</div>
	</div>
</nav>
{% include "includes/menu/menuburger.html.twig" %}

