{% extends "base.html.twig" %}
{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('home') }}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('home') }}
{% endblock %}

{% block body %}
<div class="actus">
    <h1>Actualités</h1>
    
    <div class="entry">
        <h2 class="entry-title">Lorem Ipsum</h2>
        <p class="entry-content">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et 
        dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip 
        ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu 
        fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt 
        mollit anim id est laborum.
        </p>
    </div>
    
    <div class="entry">
        <h2 class="entry-title">Lorem Ipsum</h2>
        <p class="entry-content">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et 
        dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip 
        ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu 
        fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt 
        mollit anim id est laborum.
        </p>
    </div>
</div>
{% if cities|length > 0 %}
    {% include "includes/modal.html.twig" with {
        "show": show_withdrawalPoint,
        "modal_id": "choice_withdrawalPoint",
        "title": "Point de retrait <i class='fas fa-map-marker-alt text-blue-400'></i>",
        "content": "",
        "select_title" : "Magasin",
        "options": cities,
        "option_value": "id", 
        "option_lbl": "name",
        "action_princ_lbl": "Valider",
        "form_action": "withdrawalPoint_enreg",
        "form_identifier": "add_withdrawalPoint",
        "action": "<button class='modal-close' type='button'>Retour</button>"} 
    %}
{% endif %}
{% endblock %}